.tmp*
test.rb
cache/
application/r8server.log*
application/config/config.rb
application/config/environment_config.rb
application/public/js/cache/*.js
metadata.json
ruote_work/
sftp-config*.json
application/config/newrelic.yml
application/log/
.gitattributes
Gemfile.lock
