/*------Item---------------*/
.basic-item {
	position: absolute;
	z-index: 10;
}

.basic-item .item {
	position: absolute;
	z-index: 1;
}

.basic-item .drop-shadow {
	position: absolute;
	z-index: 0;
}

/*--------Size------------*/

.basic-item.medium {
	height: 60px;
	width: 120px;
}

/*-------Corners-----------*/

.basic-item .corner {
	height: 7px;
	width: 7px;
	background-repeat: no-repeat;
	float: left;
}

.basic-item .ds-corner {
	height: 7px;
	width: 7px;
	background-repeat: no-repeat;
	float: left;
}

.basic-item.blue .corner {
	background-image: url(../images/node/basic-corners-blue.png);
}
.basic-item.green .corner {
	background-image: url(../images/node/basic-corners-green.png);
}
.basic-item.red-trans .corner {
	background-image: url(../images/node/basic-corners-red-trans.png);
}

.basic-item .corner.tl {
}
.basic-item .corner.tr {
	background-position: 0px -7px;
}
.basic-item .corner.br {
	background-position: 0px -14px;
}
.basic-item .corner.bl {
	background-position: 0px -21px;
}

.basic-item .ds-corner.tr {
	background-position: 0px -7px;
}
.basic-item .ds-corner.br {
	background-position: 0px -14px;
}
.basic-item .ds-corner.bl {
	background-position: 0px -21px;
}

/*----Focused Corners-------*/

.basic-item.focus .corner.tl {
	background-position: -7px 0px;
}
.basic-item.focus .corner.tr {
	background-position: -7px -7px;
}
.basic-item.focus .corner.br {
	background-position: -7px -14px;
}
.basic-item.focus .corner.bl {
	background-position: -7px -21px;
}

/*-------L & R Columns----------------*/

.basic-item.medium .l-col {
	float: left;
	height: 60px;
	width: 7px;
}
.basic-item.medium .r-col {
	float: right;
	height: 60px;
	width: 7px;
}


.basic-item.medium .l-col-body {
	width: 5px;
	height: 46px;
	border-left: 2px solid black;
	float: left;
}
.basic-item.medium .l-col-trans-body {
	width: 5px;
	height: 46px;
	float: left;
}
.basic-item.focus .l-col-body {
	border-left: 2px solid #C80000;
}
.basic-item.red-trans .l-col-trans-body {
	border-left: 2px dashed #C80000;
}

.basic-item.blue .l-col-body {
	background-color: #A8C6ED;
}

.basic-item.medium .r-col-body {
	width: 5px;
	height: 46px;
	border-right: 2px solid black;
	float: left;
}
.basic-item.medium .r-col-trans-body {
	width: 5px;
	height: 46px;
	float: left;
}
.basic-item.focus .r-col-body {
	border-right: 2px solid #C80000;
}
.basic-item.red-trans .r-col-trans-body {
	border-right: 2px dashed #C80000;
}

.basic-item.blue .r-col-body {
	background-color: #A8C6ED;
}

.basic-item.medium .body {
	float: left;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	width: 106px;
	height: 56px;
}

.basic-item.medium .trans-body {
	float: left;
	width: 106px;
	height: 56px;
}
.basic-item.red-trans .trans-body {
	border-top: 2px dashed #C80000;
	border-bottom: 2px dashed #C80000;
}

.basic-item.focus .body {
	border-top: 2px solid #C80000;
	border-bottom: 2px solid #C80000;
}

.basic-item.blue .body {
	background-color: #A8C6ED;
}



/*------------Drop Shadow---------*/

.basic-item.medium .drop-shadow {
	height: 60px;
	width: 120px;
	margin: 4px 0 0 4px;
}

.item.yui3-dd-dragging {
	margin: -7px 0 0 -7px;
}
.basic-item.yui3-dd-dragging .item {
	margin: -7px 0 0 -7px;
}

.basic-item .ds-corner {
	background-image: url(../images/node/basic-corners-shadow.png);
}

.basic-item.medium .ds-l-col {
	float: left;
	height: 60px;
	width: 7px;
}
.basic-item.medium .ds-r-col {
	float: right;
	height: 60px;
	width: 7px;
}

.basic-item.medium .drop-shadow .ds-l-col-body {
	width: 7px;
	height: 46px;
	float: left;
	background-image: url(../images/node/basic-col-shadow-bg.png);
	background-repeat: repeat-y;
}


.basic-item.medium .drop-shadow .ds-r-col-body {
	width: 7px;
	height: 46px;
	float: left;
	background-image: url(../images/node/basic-col-shadow-bg.png);
	background-repeat: repeat-y;
	background-position: -7px 0px;
}

.basic-item.medium .drop-shadow .ds-body {
	float: left;
	width: 106px;
	height: 60px;
}
.basic-item.medium .drop-shadow .ds-body .header {
	float: left;
	width: 106px;
	height: 7px;
	background-image: url(../images/node/basic-header-shadow-bg.png);
	background-repeat: repeat-x;
}
.basic-item.medium .drop-shadow .ds-body .footer {
	float: left;
	width: 106px;
	height: 7px;
	background-image: url(../images/node/basic-header-shadow-bg.png);
	background-repeat: repeat-x;
	background-position: 0px -7px;
}

.basic-item.medium .drop-shadow .ds-body .main-body {
	float: left;
	width: 106px;
	height: 46px;
	background-image: url(../images/node/basic-body-shadow-bg.png);
	background-repeat: repeat;
}

.basic-item.medium .img_wrapper {
	height: 40px;
	width: 80px;
	margin: 10px auto;
}
