/* blue node: #73c0ef */

.basic-node {
	height: 60px;
	width: 120px;
}

.node {
	position: absolute;
	z-index: 10;
}

/*-------Corners-----------*/

.basic-node .corner {
	height: 7px;
	width: 7px;
	background-repeat: no-repeat;
	float: left;
}
.basic-node.blue .corner {
	background-image: url(../images/node/basic-corners-blue.png);
}

.basic-node .corner.tl {
}
.basic-node .corner.tr {
	background-position: 0px -7px;
}
.basic-node .corner.br {
	background-position: 0px -14px;
}
.basic-node .corner.bl {
	background-position: 0px -21px;
}

.basic-node.focus .corner.tl {
	background-position: -7px 0px;
}
.basic-node.focus .corner.tr {
	background-position: -7px -7px;
}
.basic-node.focus .corner.br {
	background-position: -7px -14px;
}
.basic-node.focus .corner.bl {
	background-position: -7px -21px;
}

/*----------------------------*/


.basic-node .l-col {
	float: left;
	height: 60px;
	width: 7px;
}
.basic-node .r-col {
	float: right;
	height: 60px;
	width: 7px;
}

.basic-node .l-col-body {
	width: 5px;
	height: 46px;
	border-left: 2px solid black;
	float: left;
}
.basic-node.focus .l-col-body {
	border-left: 2px solid #C80000;
}

.basic-node.blue .l-col-body {
	background-color: #A8C6ED;
}

.basic-node .r-col-body {
	width: 5px;
	height: 46px;
	border-right: 2px solid black;
	float: left;
}
.basic-node.focus .r-col-body {
	border-right: 2px solid #C80000;
}

.basic-node .r-col-body {
	background-color: #A8C6ED;
}
.basic-node.focus .r-col-body {
	background-color: #A8C6ED;
}

.basic-node .body {
	float: left;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	width: 106px;
	height: 56px;
}
.basic-node.focus .body {
	border-top: 2px solid #C80000;
	border-bottom: 2px solid #C80000;
}

.basic-node.blue .body {
	background-color: #A8C6ED;
}

/*----------------Port-----------------*/

.basic-port {
	position: absolute;
	height: 14px;
	width: 14px;
}

.basic-port.available {
	background: url(../images/workspace/naPort.png) no-repeat;
}

.basic-port.connected {
	background: url(../images/workspace/connectedPort.png) no-repeat;
}

