/* blue group: #73c0ef */

.basic-group-wrapper {
	width: 90px;
	height: 50px;
}

.basic-group {
}

.yui3-dd-dragging {
	cursor: move;
}

.group {
	position: absolute;
	z-index: 10;
}

/*-------Corners-----------*/

.basic-group .corner {
	height: 7px;
	width: 7px;
	background-repeat: no-repeat;
	float: left;
}
.basic-group.green .corner {
	background-image: url(../images/group/basic-corners-green.png);
}
.basic-group.blue .corner {
	background-image: url(../images/group/basic-corners-blue.png);
}


.basic-group .corner.tl {
}
.basic-group .corner.tr {
	background-position: 0px -7px;
}
.basic-group .corner.br {
	background-position: 0px -14px;
}
.basic-group .corner.bl {
	background-position: 0px -21px;
}
.basic-group.focus .corner.tl {
	background-position: -7px 0px;
}
.basic-group.focus .corner.tr {
	background-position: -7px -7px;
}
.basic-group.focus .corner.br {
	background-position: -7px -14px;
}
.basic-group.focus .corner.bl {
	background-position: -7px -21px;
}

/*----------------------------*/


.basic-group .l-col {
	float: left;
	height: 120px;
	width: 7px;
}
.basic-group .r-col {
	float: right;
	height: 120px;
	width: 7px;
}

.basic-group .l-col .body {
	width: 5px;
	height: 106px;
	border-left: 2px solid black;
	float: left;
}
.basic-group.green .l-col .body {
	background-color: #7EB75C;
}
.basic-group.blue .l-col .body {
	background-color: #A8C6ED;
}

.basic-group .r-col .body {
	width: 5px;
	height: 106px;
	border-right: 2px solid black;
	float: left;
}
.basic-group.green .r-col .body {
	background-color: #7EB75C;
}
.basic-group.blue .r-col .body {
	background-color: #A8C6ED;
}

.basic-group .main-body {
	float: left;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
}
.basic-group.green .main-body {
	background-color: #7EB75C;
}
.basic-group.blue .main-body {
	background-color: #A8C6ED;
}

/*--------Elastic-----------*/

.basic-group .elastic-node-body {
	float: left;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
}
.basic-group.green .elastic-node-body {
	background-color: #7EB75C;
}
.basic-group.blue .elastic-node-body {
	background-color: #A8C6ED;
}

.basic-group .elastic {
	width: 38px;
	float: left;
}

.basic-group .elastic-header {
	height: 6px;
	width: 38px;
}
.basic-group.green .elastic-header {
	background-image: url(../images/group/elastic-green.png);
}
.basic-group.blue .elastic-header {
	background-image: url(../images/group/elastic-blue.png);
}

.basic-group .elastic-footer {
	height: 6px;
	width: 38px;
	background-position: 0px -6px;
}
.basic-group.green .elastic-footer {
	background-image: url(../images/group/elastic-green.png);
}
.basic-group.blue .elastic-footer {
	background-image: url(../images/group/elastic-blue.png);
}

.basic-group .elastic-body {
	width: 38px;
	background-repeat: repeat-y;
}
.basic-group.green .elastic-body {
	background-image: url(../images/group/elastic-bg-green.png);
}
.basic-group.blue .elastic-body {
	background-image: url(../images/group/elastic-bg-blue.png);
}
