
.basic-item.node {
	position: absolute;
}

.basic-item.node.large {
	height: 124px;
	width: 436px;
}
.basic-item.node.large .item-display {
	height: 124px;
	width: 436px;
	position: absolute;
}
.basic-item.node.large .item-shadow {
	height: 124px;
	width: 440px;
}

.yui3-dd-dragging {
	cursor: move;
}

.node {
	position: absolute;
	z-index: 5;
}

/*----------------------------*/


.basic-item.node .l-col {
	float: left;
	height: 124px;
	width: 7px;
}
.basic-item.node .r-col {
	float: right;
	height: 124px;
	width: 7px;
}

.basic-item.node.large .l-col .l-col-body {
	width: 5px;
	height: 110px;
	border-left: 2px solid black;
	float: left;
}
.basic-item.node.focus .l-col .l-col-body {
	border-left: 2px solid #C80000;
}

.basic-item.node.green .l-col .l-col-body {
	background-color: #7EB75C;
}
.basic-item.node.blue .l-col .l-col-body {
	background-color: #A8C6ED;
}

.basic-item.node.large .r-col .r-col-body {
	width: 5px;
	height: 110px;
	border-right: 2px solid black;
	float: left;
}

.basic-item.node.focus .r-col .r-col-body {
	border-right: 2px solid #C80000;
}

.basic-item.node.green .r-col .r-col-body {
	background-color: #7EB75C;
}
.basic-item.node.blue .r-col .r-col-body {
	background-color: #A8C6ED;
}

/*-------------------*/

.basic-item.node.large .node-bar {
	height: 30px;
	width: 100%;
	float: left;
}

.basic-item.node.large .body {
	float: left;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	height: 120px; width: 422px;
}

.basic-item.node.focus .body {
	border-top: 2px solid #C80000;
	border-bottom: 2px solid #C80000;
}

.basic-item.node.green .body {
	background-color: #7EB75C;
}
.basic-item.node.blue .body {
	background-color: #A8C6ED;
}

/*--------Elastic-----------*/

.basic-item.node .elastic-node-body {
	float: left;
	height: 120px;
	width: 132px;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
}

.basic-item.node .enb-header {
	height: 20px;
	width: 132px;
}
.basic-item.node.focus .elastic-node-body {
	border-top: 2px solid #C80000;
	border-bottom: 2px solid #C80000;
}

.basic-item.node.green .elastic-node-body {
	background-color: #7EB75C;
}
.basic-item.node.blue .elastic-node-body {
	background-color: #A8C6ED;
}

.basic-item.node.large .elastic {
	height: 124px;
	width: 38px;
	float: left;
}

.basic-item.node .elastic-header {
	height: 6px;
	width: 38px;
}
.basic-item.node.green .elastic-header {
	background-image: url(../images/group/elastic-green.png);
}
.basic-item.node.green.focus .elastic-header {
	background-position: -38px 0px;
}
.basic-item.node.blue .elastic-header {
	background-image: url(../images/group/elastic-blue.png);
}

.basic-item.node .elastic-footer {
	height: 6px;
	width: 38px;
	background-position: 0px -6px;
}
.basic-item.node.green .elastic-footer {
	background-image: url(../images/group/elastic-green.png);
}
.basic-item.node.green.focus .elastic-footer {
	background-position: -38px -6px;
}

.basic-item.node.blue .elastic-footer {
	background-image: url(../images/group/elastic-blue.png);
}

.basic-item.node.large .elastic-body {
	width: 38px;
	background-repeat: repeat-y;
	height:112px;
}

.basic-item.node.green .elastic-body {
	background-image: url(../images/group/elastic-bg-green.png);
}
.basic-item.node.blue .elastic-body {
	background-image: url(../images/group/elastic-bg-blue.png);
}


/*--------Shader--------------*/

.slide-container {
	height: 80px;
	width: 386px;
	float: left;
	overflow: hidden;
	z-index: 1;
	position: absolute;
	background-color: #FFFFFF;
	margin-left: 2px;
}
.slide-container-header {
	height: 4px;
	width: 100%;
	position: absolute;
	z-index:5;
	background-image: url(../images/node/basic-header-shadow-bg.png);
	background-repeat: repeat-x;
	background-position: 0px -10px;
	opacity: 0.6;
}
.slide-wrapper {
	width: 390px;
	height: 80px;
	position: absolute;
	margin-left: 16px;
}

.node-lbutton {
	background: no-repeat url(../images/group/arrows.png);
	float: left;
	width: 16px;
	height: 100%;
	position: absolute;
	margin-top: 27px;
	margin-left: -16px;
}

.node-rbutton {
	background: no-repeat url(../images/group/arrows.png);
	background-position: -16px 0px;
	float: right;
	width: 16px;
	height: 100%;
	position: absolute;
	right: 0px;
	margin-top: 27px;
	margin-right: -16px;
}

.slide-l-shade {
	height: 80px;
	width: 24px;
	position: absolute;
	z-index: 5;
	left: 0px;
/*	margin-left: 08px;*/
	opacity: .7;
}
.slide-l-shade .shade-top {
	background: no-repeat url(../images/node/slider-black-shade-02.png);
	float: left;
	width: 24px;
	height: 5px;
}
.slide-l-shade .shade-body {
	background: repeat-y url(../images/node/slider-black-shade-bg-02.png);
	float: left;
	width: 24px;
	height: 70px;
}
.slide-l-shade .shade-bottom {
	background: no-repeat url(../images/node/slider-black-shade-02.png);
	background-position: 0px -5px;
	float: left;
	width: 24px;
	height: 5px;
}

.slide-r-shade {
	height: 80px;
	width: 24px;
	position: absolute;
	z-index: 5;
	right: 0px;
	opacity: .7;
}
.slide-r-shade .shade-top {
	background: no-repeat url(../images/node/slider-black-shade-02.png);
	background-position: -24px 0px;
	float: left;
	width: 24px;
	height: 5px;
}
.slide-r-shade .shade-body {
	background: repeat-y url(../images/node/slider-black-shade-bg-02.png);
	background-position: -24px 0px;
	float: left;
	width: 24px;
	height: 70px;
}
.slide-r-shade .shade-bottom {
	background: no-repeat url(../images/node/slider-black-shade-02.png);
	background-position: -24px -5px;
	float: left;
	width: 24px;
	height: 5px;
}

/*------------Drop Shadow---------*/

.basic-item.node.large .drop-shadow {
	height: 124px;
	width: 436px;
	margin: 4px 0 0 4px;
}

.node.yui3-dd-dragging {
/*	margin: -7px 0 0 -7px;*/
}
/*
.basic-item.node.yui3-dd-dragging .item {
	margin: -7px 0 0 -7px;
}
*/
.basic-item.node .ds-corner {
	height: 7px;
	width: 7px;
	background-repeat: no-repeat;
	float: left;
}

.basic-item.node .ds-corner {
	background-image: url(../images/node/basic-corners-shadow.png);
}

.basic-item.node .ds-corner.tr {
	background-position: 0px -7px;
}
.basic-item.node .ds-corner.br {
	background-position: 0px -14px;
}
.basic-item.node .ds-corner.bl {
	background-position: 0px -21px;
}

.basic-item.node.large .ds-l-col {
	float: left;
	height: 114px;
	width: 7px;
}
.basic-item.node.large .ds-r-col {
	float: right;
	height: 114px;
	width: 7px;
}

.basic-item.node.large .drop-shadow .ds-l-col-body {
	width: 7px;
	height: 110px;
	float: left;
	background-image: url(../images/node/basic-col-shadow-bg.png);
	background-repeat: repeat-y;
}


.basic-item.node.large .drop-shadow .ds-r-col-body {
	width: 7px;
	height: 110px;
	float: left;
	background-image: url(../images/node/basic-col-shadow-bg.png);
	background-repeat: repeat-y;
	background-position: -7px 0px;
}

.basic-item.node.large .drop-shadow .ds-body {
	float: left;
	width: 422px;
	height: 110px;
}
.basic-item.node.large .drop-shadow .ds-body .header {
	float: left;
	width: 422px;
	height: 7px;
	background-image: url(../images/node/basic-header-shadow-bg.png);
	background-repeat: repeat-x;
}
.basic-item.node.large .drop-shadow .ds-body .footer {
	float: left;
	width: 422px;
	height: 7px;
	background-image: url(../images/node/basic-header-shadow-bg.png);
	background-repeat: repeat-x;
	background-position: 0px -7px;
}

.basic-item.node.large .drop-shadow .ds-body .main-body {
	float: left;
	width: 422px;
	height: 110px;
	background-image: url(../images/node/basic-body-shadow-bg.png);
	background-repeat: repeat;
}

/*---------Shadow Elastic------*/
.basic-item.node.large .drop-shadow .elastic-ds-body {
	float: left;
	width: 38px;
	height: 124px;
}

.basic-item.node.large .drop-shadow .elastic-ds-body .header {
	float: left;
	width: 38px;
	height: 6px;
	background-image: url(../images/group/elastic-shadow.png);
	background-repeat: no-repeat;
}
.basic-item.node.large .drop-shadow .elastic-ds-body .footer {
	float: left;
	width: 38px;
	height: 6px;
	background-image: url(../images/group/elastic-shadow.png);
	background-repeat: no-repeat;
	background-position: 0px -6px;
}

.basic-item.node.large .drop-shadow .elastic-ds-body .main-body {
	float: left;
	width: 38px;
	height: 112px;
	background-image: url(../images/node/basic-body-shadow-bg.png);
	background-repeat: repeat;
}

/*----------Shadow Elastic Node--------*/

.basic-item.node.large .drop-shadow .elastic-node-ds-body {
	float: left;
	width: 132px;
	height: 124px;
}
.basic-item.node.large .drop-shadow .elastic-node-ds-body .header {
	float: left;
	width: 132px;
	height: 7px;
	background-image: url(../images/node/basic-header-shadow-bg.png);
	background-repeat: repeat-x;
}
.basic-item.node.large .drop-shadow .elastic-node-ds-body .footer {
	float: left;
	width: 132px;
	height: 7px;
	background-image: url(../images/node/basic-header-shadow-bg.png);
	background-repeat: repeat-x;
	background-position: 0px -7px;
}

.basic-item.node.large .drop-shadow .elastic-node-ds-body .main-body {
	float: left;
	width: 132px;
	height: 110px;
	background-image: url(../images/node/basic-body-shadow-bg.png);
	background-repeat: repeat;
}

/*-------------*/

.basic-item.node.large .name-wrapper {
	height: 30px;
	width: 150px;
	float: left;
}

.basic-item.node.large .toolbar-wrapper {
	height: 30px;
	width: 256px;
	float: left;
	overflow: hidden;
}

