/*-----------Command Bar--------------*/

#cmdbar {
	position: relative;
	width: 100%;
/*	height: 35px;*/
	height: 40px;
	min-width: 500px;
	background-color: #9CAAC1;
/*	background: repeat-x url(../images/workspace/cmdbar-bg3.png);*/
	background: repeat-x url("../images/topbar/bg-grey-slice.png");
}

#cmdbar-tab-content-wrapper {
	width:100%;
	display: none;
	height: 100px;
/*	background: #475B7E;*/
	background: #9CAAC1;
}

#cmdbar-tabcontainer {
	position: absolute;
	width: 100%;
	bottom: 0;
	z-index: 500;
/*	border-bottom: 1px solid #bfbfbd;*/
}

#cmdbar-tabs-wrapper {
	height:26px;
	width: 100%;
}

#cmdbar-tabs {
	margin-left: 5px;
	height: 26px;
	position: relative;
	float: left;
}
#cmdbar-tabs .close-tab {
	position: relative;
	float: left;
	height: 14px;
	width: 14px;
	margin: 7px 0 0 3px;
}

#cmdbar-tabs .hover {
	background: no-repeat url(../images/cmdbar/close-red-x.png);	
}

.close-tab-temp {
	position: relative;
	float: left;
	height: 14px;
	width: 14px;
	margin: 7px 0 0 3px;
	background: no-repeat url(../images/cmdbar/close-red-x.png);	
}


#cmdbar-tabs .tab.active {
	color: #1B293E;
}

#cmdbar-tabs .tab.active .lcap {
	background: no-repeat url(../images/cmdbar/tab-sel-lcap.png);	
}

#cmdbar-tabs .tab.active .body {
	background: repeat-x url(../images/cmdbar/tab-sel-bg.png);
}
#cmdbar-tabs .tab.active .rcap {
	background: no-repeat url(../images/cmdbar/tab-sel-rcap.png);
}

#cmdbar-tabs .tab {
	position: relative;
	height: 26px;
	margin-top: 1px;
	float: left;
	cursor: pointer;
}

#cmdbar-tabs .tab.not-first {
	margin-left: -15px;
}

#cmdbar-tabs .lcap {
	float:left;
	height: 26px;
	width: 24px;
	background: no-repeat url(../images/cmdbar/tab-lcap.png);	
}
#cmdbar-tabs .body {
	float:left;
	height: 26px;
	font-weight: bold;
	padding: 5px 0 0 0;
	background: repeat-x url(../images/cmdbar/tab-bg.png);
}

#cmdbar-tabs .rcap {
	float:left;
	height: 26px;
	width: 30px;
	background: no-repeat url(../images/cmdbar/tab-rcap.png);
}

.cmdbar-input-wrapper {
	background:#FFFFFF none repeat scroll 0 0;
/*	border:1px solid #ACBABD;*/
	border:2px solid #999999;
	font-size:115.9%;
	float:left;
	margin: 7px 0 0 5px;
	padding:0.2em 0.2em 1em;
}

.cmdbar-input-wrapper input {
	border: 0 none;
	height:1.2em;
	line-height:1.1em;
	margin:0 0 -0.8em;
	padding:0.2em 0.64em 0 0.44em;
	width:35em;
	font-size: 100%;
	float: left;
}
/*-------------------Slider----------------------*/


.slider {
/*	z-index: 500;*/
/*	position: absolute;*/
	display:none;
	width: 100%;
	height: 100px;
	min-width: 500px;
/*	background: #B6B6B6;*/
/*	background: #475B7E;*/
}

.slider-top {
	height: 7px;
	width: 100%;
/*	background: repeat-x url(../images/workspace/slider-top-bg.png);*/
}
.slider-btm {
	height: 7px;
	width: 100%;
/*	background: repeat-x url(../images/workspace/slider-btm-bg.png);*/
}

.slide-list-container {
	height: 80px;
/*	width: 1135px;*/
	float: left;
/*	border: 1px solid green;*/
/*	margin: 3px 3px 3px 3px;*/
	overflow: hidden;
	z-index: 1;
	position: absolute;
	margin-left: 17px;
	margin-top: 5px;
}

.slider-wrapper {
/*	display: none; */
	width:100%; 
	height: 90px;
	padding: 10px 0;
}

#slider {
	width: 100%;
	height: 100%;
/*	border: 1px solid red;*/
/*	margin: 2px;*/
}

.lbutton {
/*	background: no-repeat url(../images/workspace/slider-l-arrow.png);*/
	float: left;
	width: 25px;
	height: 100%;
	margin-left: 4px;
}

.rbutton {
/*	background: no-repeat url(../images/workspace/slider-r-arrow.png);*/
	float: right;
	width: 25px;
	height: 100%;
	margin-right: 4px;
}

#slider-l-shade {
	height: 90px;
	width: 30px;
	position: absolute;
	z-index: 0;
	left: 0px;
	margin-left: 15px;
}
#slider-l-shade .top {
	background: no-repeat url(../images/cmdbar/slider-l-shade-caps.png);
	float: left;
	width: 30px;
	height: 6px;
}
#slider-l-shade .body {
	background: repeat-y url(../images/cmdbar/slider-l-shade-bg.png);
	float: left;
	width: 30px;
	height: 78px;
}
#slider-l-shade .bottom {
	background: no-repeat url(../images/cmdbar/slider-l-shade-caps.png);
	background-position: 0px -6px;
	float: left;
	width: 30px;
	height: 6px;
}

#slider-r-shade {
	height: 90px;
	width: 30px;
	position: absolute;
	z-index: 0;
	right: 0px;
	margin-right: 15px;
}
#slider-r-shade .top {
	background: no-repeat url(../images/cmdbar/slider-r-shade-caps.png);
	float: left;
	width: 30px;
	height: 6px;
}
#slider-r-shade .body {
	background: repeat-y url(../images/cmdbar/slider-r-shade-bg.png);
	float: left;
	width: 30px;
	height: 78px;
}
#slider-r-shade .bottom {
	background: no-repeat url(../images/cmdbar/slider-r-shade-caps.png);
	background-position: 0px -6px;
	float: left;
	width: 30px;
	height: 6px;
}
