/* blue component: #73c0ef */

.comp-component {
	width: 120px;
	height: 60px;
}

.yui3-dd-dragging {
	cursor: move;
}

.component {
	position: absolute;
	z-index: 10;
}

.comp-img {
	height: 60px;
	width: 90px;
	margin: auto;
}

#slider .comp-component {
	margin: 10px 5px;
/*	position: relative;*/
}

.comp-component .corner {
	height: 13px;
	width: 13px;
	background-image: url(../images/workspace/basic-comp-corners.png);
	background-repeat: no-repeat;
	float: left;
}
.compFocus .corner {
	background-image: url(../images/workspace/basic-comp-corners-focus.png);
}

.comp-tl-corner {
}
.comp-tr-corner {
	background-position: 0px -13px;
}
.comp-bl-corner {
	background-position: 0px -39px;
}
.comp-br-corner {
	background-position: 0px -26px;
}

.comp-component .comp-header {
	background-color: #73C0EF;
	width: 94px;
	height: 11px;
	float: left;
	font-size: 11px;
	border-top: solid 2px black;
}

.compFocus .comp-header {
	border-top: solid 2px #E84423;
}

.comp-component .comp-footer {
	background-color: #73C0EF;
	width: 94px;
	height: 11px;
	float: left;
	border-bottom: solid 2px black;
}
.compFocus .comp-footer {
	border-bottom: solid 2px #E84423;
}

.comp-component .comp-body {
	background-color: #73C0EF;
	width: 116px;
	height: 54px;
	float: left;
	border-left: solid 2px black;
	border-right: solid 2px black;
	text-align: center;
}

.compFocus .comp-body {
	border-left: solid 2px #E84423;
	border-right: solid 2px #E84423;
}

.basic-port {
	position: absolute;
	height: 14px;
	width: 14px;
}

.basic-port.available {
	background: url(../images/workspace/naPort.png) no-repeat;
}

.basic-port.connected {
	background: url(../images/workspace/connectedPort.png) no-repeat;
}

