
#toolbar {
	width: 100%;
	height: 40px;
	min-width: 500px;
	background: repeat-x url(../images/workspace/tbar-bg.png);
/*	border: 1px solid black;*/
}

.tbar_search {
	background:#FFFFFF none repeat scroll 0 0;
	border:1px solid #ACBABD;
	font-size:115.9%;
	float:right;
	margin: 4px 25px 0 0;
	padding:0.2em 0.2em 1em;
}

.tbar_search .tbar_search_submit {
	background: repeat url(../images/workspace/search_icon-1.png);
	cursor: pointer;
	height: 24px;
	width: 24px;
	overflow: hidden;
}

.tbar_search input {
	border: 0 none;
	height:1.4em;
	line-height:1.2em;
	margin:0 0 -0.8em;
	padding:0.2em 0.64em 0 0.44em;
	width:15em;
	font-size: 100%;
	float: left;
}

#sliderbar {
/*	z-index: 500;*/
/*	position: absolute;*/
	display:none;
	width: 100%;
	height: 100px;
	min-width: 500px;
	background: #B6B6B6;
}

.slider-top {
	height: 7px;
	width: 100%;
	background: repeat-x url(../images/workspace/slider-top-bg.png);
}
.slider-btm {
	height: 7px;
	width: 100%;
	background: repeat-x url(../images/workspace/slider-btm-bg.png);
}

#slidecontainer {
	height: 92px;
	width: 1135px;
	float: left;
/*	border: 1px solid green;*/
/*	margin: 3px 3px 3px 3px;*/
	overflow: hidden;
}

#sliderwrapper {
/*	display: none; */
	width:100%; 
	height: 86px;
}

#slider {
	width: 100%;
	height: 100%;
/*	border: 1px solid red;*/
/*	margin: 2px;*/
}

#lbutton {
	background: no-repeat url(../images/workspace/slider-l-arrow.png);
	float: left;
	width: 25px;
	height: 100%;
	margin-left: 5px;
}

#rbutton {
	background: no-repeat url(../images/workspace/slider-r-arrow.png);
	float: right;
	width: 25px;
	height: 100%;
	margin-right: 5px;
}

#wspaceContainer {
	top: -100px;
	position: inherit;
	width: 100%;
	height: 100%;	
	min-height:500px;
	min-width: 500px;
	border-right: 1px solid #638DCD;
	overflow: hidden;
}

#wspaceHeader {
	height: 13px;
	width: 100%;
	position: relative;
	z-index: 99;
}

#wsh-l-corner {
	height: 13px;
	width: 13px;
	float: left;
	position: relative;
	background: no-repeat url(../images/workspace/l-xpand-corner.png);
}
#wsh-center {
	width: 1174px;
	height: 13px;
	background: repeat-x url(../images/workspace/xpand-center-bg.png);
	float: left;
	position: relative;
}
#wsh-r-corner {
	height: 13px;
	width: 13px;
	float: left;
	position: relative;
	background: no-repeat url(../images/workspace/r-xpand-corner.png);
}

.mainWorkspace {
	width: 100%;
	height: 100%;
	position: relative;
	background: url(../images/workspace/wspace-bg-3.png);
	display: block;
}

.selectionBox {
	position: absolute;
/*	border: 2px solid #3399FF;
	background-color: #B7D4F0;*/
	border: 2px dashed #3399FF;
	background-color: #b7fb15;
	opacity: 0.5;
	filter: alpha(opacity=50);
	z-index: 98;
}

.dragWire {
	position: absolute;
	z-index: 100;
	border: 1px solid blue;
}

.fullBezier-basic {
	position: absolute;
	z-index: 0;
/*	border: 1px solid red;*/
}

.compFocus {
	z-index: 97;
}

.compBlur {
	z-index: 1;
}

.southConnectors {
/*	bottom: 0;*/
/*	float: left; */
	margin: -7px auto 0 auto;
/*	background: url(../images/workspace/availDot.png) no-repeat;*/
/*	border: 1px solid red;*/
}
.northConnectors {
/*	bottom: 0;*/
/*	float: left; */
	margin: 0 auto -7px auto;
	height: 14px;
/*	background: url(../images/workspace/availDot.png) no-repeat;*/
/*	border: 1px solid red;*/
}

.northConnector {
	bottom: 0;
	margin: -7px auto 0 auto;
	height: 14px;
	width: 14px;
	background: url(../images/workspace/availDot.png) no-repeat;
}
.eastConnector {
	right: 0;
	margin: auto -7px auto 0;
	height: 14px;
	width: 14px;
	background: url(../images/workspace/availDot.png) no-repeat;
	float: right;
}

.dragHandle {
	background: url(../images/workspace/availDot.png) no-repeat;
}
