/* blue component: #73c0ef */

.basic-component {
	width: 160px;
	height: 80px;
}

.yui3-dd-dragging {
	cursor: move;
}

.component {
	position: absolute;
	z-index: 10;
}

#slider .basic-component {
	margin: 5px 5px;
/*	position: relative;*/
}

.basic-component .corner {
	height: 13px;
	width: 13px;
	background-image: url(../images/workspace/basic-comp-corners.png);
	background-repeat: no-repeat;
	float: left;
}
.compFocus .corner {
	background-image: url(../images/workspace/basic-comp-corners-focus.png);
}

.basic-tl-corner {
}
.basic-tr-corner {
	background-position: 0px -13px;
}
.basic-bl-corner {
	background-position: 0px -39px;
}
.basic-br-corner {
	background-position: 0px -26px;
}

.basic-component .header {
	background-color: #73C0EF;
	width: 134px;
	height: 11px;
	float: left;
	font-size: 11px;
	border-top: solid 2px black;
}

.compFocus .header {
	border-top: solid 2px #E84423;
}

.basic-component .footer {
	background-color: #73C0EF;
	width: 134px;
	height: 11px;
	float: left;
	border-bottom: solid 2px black;
}
.compFocus .footer {
	border-bottom: solid 2px #E84423;
}

.basic-component .body {
	background-color: #73C0EF;
	width: 156px;
	height: 54px;
	float: left;
	border-left: solid 2px black;
	border-right: solid 2px black;
	text-align: center;
}

.compFocus .body {
	border-left: solid 2px #E84423;
	border-right: solid 2px #E84423;
}

.basic-port {
	position: absolute;
	height: 14px;
	width: 14px;
}

.basic-port.available {
	background: url(../images/workspace/naPort.png) no-repeat;
}

.basic-port.connected {
	background: url(../images/workspace/connectedPort.png) no-repeat;
}

