
.clearfix {
	display: block;
}

body {
/*	background: url("../images/bg.jpg") repeat-x scroll left top #4E87A7;*/
	font-family: "lucida grande","Segoe UI",arial,verdana,"lucida sans unicode",tahoma,sans-serif;
	font-size: 8pt;
	font-weight: normal;
	color: #444444;
}

body input textarea select {
	font-family: "lucida grande","Segoe UI",arial,verdana,"lucida sans unicode",tahoma,sans-serif;
	font-size: 8pt;
	font-weight: normal;
	color: #444444;
}

h1 {
	font-size: 2.0em;
	font-weight: bold;
	color:#444444;
}

#page_container {
	width: 888px;
	margin: 30px auto 10px auto;
}

#left_col {
	width: 198px;
	float: left;
	background: none repeat scroll 0 0 #FFFFFF;
}

#main_body {
	background: none repeat scroll 0 0 #FFFFFF;
	border-left: 1px solid #AACCEE;
	border-bottom: 1px solid #AACCEE;
	width: 100%;
}

a {
	color: #1F75CC;
}

/*--------Menu Styling --------------*/

#menu_container {
	border-bottom: 1px solid #AACCEE;
	height: 35px;
	width: 100%;
}

#menu_container ul {
	float: left;
	padding: 0;
	margin: -2px 0 0 100px;
	position: relative;
}

#menu_container li {
	float: left;
	background-color: #E9F4FF;
	border: 1px solid #AACCEE;
	float: left;
	list-style: none outside none;
	margin: 0 5px;
	line-height: 35px;
}

#menu_container li.selected {
	background-color: #FFFFFF;
	border-bottom: 1px solid #FFFFFF;
}

#menu_container li a {
	font-size: 13px;
	font-weight: bold;
	min-height: 16px;
	padding: 7px 11px;
	position: relative;
	cursor: pointer;
	text-decoration: none;
}

/*----------Display View-------------*/

.display_container {
	padding: 10px 20px;
	position: relative;
}

table.display {
	border-top: 1px solid #999999;
	border-bottom: 1px solid #999999;
	border-collapse:collapse;
	width:100%;
}

table.display th {
	background-color:#DDDDDD;
	border-bottom: 1px solid #999999;
	color:#444444;
	padding:5px;
	text-align:left;
}

table.display td {
	padding: 5px;
}

table.display td.label {
	width: 35%;
	vertical-align: top;
	font-weight: bold;
	width: 35%;
}

/*--------Edit View------------*/
.edit_container {
	padding: 10px 20px;
}

table.edit {
	border-top: 1px solid #999999;
	border-bottom: 1px solid #999999;
	border-collapse:collapse;
	width:100%;
}

table.edit th {
	background-color: #DDDDDD;
	border-bottom: 1px solid #999999;
	color: #444444;
	padding: 5px;
	text-align:left;
}

table.edit td {
	padding:5px;
}

table.edit td.label {
	width: 15%;
	vertical-align: top;
	font-weight: bold;
}

/*----------List View------------*/

.list_container {
	padding: 10px 20px;
}

table.list {
	border-top: 1px solid #999999;
	border-collapse: collapse;
	width: 100%;
}

table.list th {
	background-color: #DDDDDD;
	border-bottom: 1px solid #999999;
	color: #444444;
	padding: 5px;
	text-align:left;
}

table.list tr td {
	padding: 5px;
	border-top: 1px solid #FFFFFF;
	border-bottom: 1px solid #FFFFFF;
}

table.list tr:hover td {
	background-color: #E9F4FF;
	border-top: 1px solid #AACCEE;
	border-bottom: 1px solid #AACCEE;
}

table.list tr a {
	text-decoration: none;
}

table.list tr.odd {
	background-color: #EEEEEE;
}


/*-------------------------------------*/

