
.clearfix {
	display: block;
}

body {
/*	background: url("../images/bg.jpg") repeat-x scroll left top #4E87A7;*/
	font-family: "lucida grande","Segoe UI",arial,verdana,"lucida sans unicode",tahoma,sans-serif;
	font-size: 8pt;
	font-weight: normal;
	color: #444444;
}

body input textarea select {
	font-family: "lucida grande","Segoe UI",arial,verdana,"lucida sans unicode",tahoma,sans-serif;
	font-size: 8pt;
	font-weight: normal;
	color: #444444;
}

h1 {
	font-size: 2.0em;
	font-weight: bold;
	color:#444444;
}

#page_container {
	width: 888px;
	margin: 30px auto 10px auto;
}

#left_col {
	width: 198px;
	float: left;
	background: none repeat scroll 0 0 #FFFFFF;
}

#main_body {
	background: none repeat scroll 0 0 #FFFFFF;
	border-left: 1px solid #AACCEE;
	border-bottom: 1px solid #AACCEE;
	width: 100%;
}

a {
	color: #1F75CC;
}

/*--------Menu Styling --------------*/

#menu_container {
	border-bottom: 1px solid #AACCEE;
	height: 35px;
	width: 100%;
}

#menu_container ul {
	float: left;
	padding: 0;
	margin: -2px 0 0 10px;
	position: relative;
}

#menu_container li {
	float: left;
	background-color: #E9F4FF;
	border: 1px solid #AACCEE;
	float: left;
	list-style: none outside none;
	margin: 0 5px;
	line-height: 35px;
}

#menu_container li.selected {
	background-color: #FFFFFF;
	border-bottom: 1px solid #FFFFFF;
}

#menu_container li a {
	font-size: 13px;
	font-weight: bold;
	min-height: 16px;
	padding: 7px 11px;
	position: relative;
	cursor: pointer;
	text-decoration: none;
}

/*----------Display View-------------*/

.display_container {
	padding: 10px 20px;
	position: relative;
}

table.display {
	border-top: 1px solid #999999;
	border-bottom: 1px solid #999999;
	border-collapse:collapse;
	width:100%;
}

table.display th {
	background-color:#DDDDDD;
	border-bottom: 1px solid #999999;
	color:#444444;
	padding:5px;
	text-align:left;
}

table.display td {
	padding: 5px;
}

table.display td.label {
	width: 35%;
	vertical-align: top;
	font-weight: bold;
	width: 35%;
}

/*--------Edit View------------*/
.edit_container {
	padding: 10px 20px;
	position: relative;
}


table.edit {
	border-top: 1px solid #999999;
	border-bottom: 1px solid #999999;
	border-collapse:collapse;
	width:100%;
}

table.edit th {
	background-color: #DDDDDD;
	border-bottom: 1px solid #999999;
	color: #444444;
	padding: 5px;
	text-align:left;
}

table.edit td {
	padding:5px;
}

table.edit td.label {
	width: 15%;
	vertical-align: top;
	font-weight: bold;
}

/*----------List View------------*/

.sort_arrow {
	width:8px;
	height: 10px;
	background-image: url("../images/sort_arrows.png");
	background-repeat: no-repeat;
	float: left;
	margin: 5px 0 0 5px;
	cursor: pointer;
}
.sort_arrow.desc {
	background-position: -8px 0px;
}
.sort_arrow.asc {
	background-position: -16px 0px;
}

.list_container {
	padding: 10px 20px;
	margin: 30px 0 0 0;
}

table.list {
	border-top: 1px solid #999999;
	border-collapse: collapse;
	width: 100%;
}

table.list th {
	background-color: #DDDDDD;
	border-bottom: 1px solid #999999;
	color: #444444;
	padding: 5px;
	text-align:left;
}

table.list tr td {
	padding: 5px;
	border-top: 1px solid #FFFFFF;
	border-bottom: 1px solid #FFFFFF;
}

table.list tr:hover td {
	background-color: #E9F4FF;
	border-top: 1px solid #AACCEE;
	border-bottom: 1px solid #AACCEE;
}

table.list tr a {
	text-decoration: none;
}

table.list tr.odd {
	background-color: #EEEEEE;
}


/*-------------------------------------*/


/*----------Search-------------*/

.search-container {
	height: 30px;
	width: 887px;
	border-bottom: 1px solid #AACCEE;
	position: absolute;
	z-index: 10;
}

.search-container .drop-shadow {
	position: absolute;
	z-index: 0;
}

.saved-search-categories {
	float: left;
	width: 100px;
}

.saved-search-cat {
	width: 100px;
	height: 25px;
	font-size: 14px;
	font-weight: bold;
	cursor: pointer;
}
.saved-search-cat .label {
	margin: 3px 5px;;
	float: right;
}

.saved-search-cat.selected {
	background-color: #AACCEE;
}

/*------------Drop Shadow---------*/

.search-container .drop-shadow {
	height: 60px;
	width: 120px;
	margin: 4px 0 0 4px;
}

.search-container .ds-corner {
	background-image: url(../images/node/basic-corners-shadow.png);
}

.search-container .ds-l-col {
	float: left;
	height: 60px;
	width: 7px;
}
.search-container .ds-r-col {
	float: right;
	height: 60px;
	width: 7px;
}

.search-container .drop-shadow .ds-l-col-body {
	width: 7px;
	height: 46px;
	float: left;
	background-image: url(../images/node/basic-col-shadow-bg.png);
	background-repeat: repeat-y;
}


.search-container .drop-shadow .ds-r-col-body {
	width: 7px;
	height: 46px;
	float: left;
	background-image: url(../images/node/basic-col-shadow-bg.png);
	background-repeat: repeat-y;
	background-position: -7px 0px;
}

.search-container .drop-shadow .ds-body {
	float: left;
	width: 106px;
	height: 60px;
}
.search-container .drop-shadow .ds-body .header {
	float: left;
	width: 106px;
	height: 7px;
	background-image: url(../images/node/basic-header-shadow-bg.png);
	background-repeat: repeat-x;
}
.search-container .drop-shadow .ds-body .footer {
	float: left;
	width: 106px;
	height: 7px;
	background-image: url(../images/node/basic-header-shadow-bg.png);
	background-repeat: repeat-x;
	background-position: 0px -7px;
}

.search-container .drop-shadow .ds-body .main-body {
	float: left;
	width: 106px;
	height: 46px;
	background-image: url(../images/node/basic-body-shadow-bg.png);
	background-repeat: repeat;
}

/*---------------*/
