
body {
	background-color: #FFFFFF;
	height: 100%;
	margin: 0;
	padding: 0;
}

body input textarea select {
	font-family: "lucida grande","Segoe UI",arial,verdana,"lucida sans unicode",tahoma,sans-serif;
	font-size: 8pt;
	font-weight: normal;
	color: #444444;
}

#page_container {
	width: 888px;
	min-height: 600px;
	background: none repeat scroll 0 0 #FFFFFF;
	padding: 5px 0 0;
	margin: 0 auto;
	border: 1px solid #444444;
	height: 100%;
}

#left_col {
	width:190px;
	height: 100%;
	border: 1px solid black;
	float: left;
}

#main_body {
	width: 688px;
	height: 100%;
	float: left;
}
