
body {
	height: 100%;
	overflow: hidden;
	color: #30322f;
	background-image: url(../images/blue-bg-test.png);
	background-repeat: repeat;
}

.page-container {
	min-height: 100%;
	position: relative;
/*	background-color: #FFFFFF;*/
/*	background-image: url(../images/blue-bg-test.png);
	background-repeat: repeat;*/
}


.main-body-wrapper {
	height: inherit;
	width: inherit;
	min-height: 300px;
	min-width: 600px;
	position: relative;
}

/*---------------------------------*/
/*---Left Panel Stylings------------*/
/*---------------------------------*/
.mb-l-panel {
	width: 150px;
	height: 300px;
	position: relative;
	float: left;
}

.mb-l-panel .cap {
	width: 150px;
	height: 5px;
}
.mb-l-panel .cap .bar {
	width: 145px;
	height: 5px;
	background-color: #FFFFFF;
	float: left;
}
.mb-l-panel .corner {
	height: 5px;
	width: 5px;
	background-image: url(../images/display/corners-white.png);
	float: left;
}
.mb-l-panel .corner.tr {
	background-position: 0px -5px;
}
.mb-l-panel .corner.br {
	background-position: 0px -10px;
}



.display-categories {
	position: relative;
	float: left;
	width: inherit;
	background-color: #FFFFFF;
}

.display-cat {
	width: inherit;
	height: 25px;
	font-size: 14px;
	font-weight: bold;
	cursor: pointer;
}
.display-cat .label {
	margin: 3px 5px;;
	float: right;
}
.display-cat.selected {
/*	background-color: #C3C4C4;*/
	background-color: #AEB9CD;
}

.mb-panel-spacer {
	position: relative;
	float: left;
	width: 10px;
	height: inherit;
}

/*---------------------------------*/
/*---MAIN BODY CONTENT Stylings----*/
/*---------------------------------*/

.mb-content-wrapper {
	width: 100%;
	height: inherit;
	position: relative;
	float: left;
}


.mb-content-wrapper .cap {
	width: inherit;
	height: 5px;
	padding: 0 5px;
}
.mb-content-wrapper .cap .bar {
	width: 100%;
	height: 5px;
	background-color: #FFFFFF;
}
.mb-content-wrapper .corner {
	height: 5px;
	width: 5px;
	background-image: url(../images/display/corners-white.png);
}
.mb-content-wrapper .corner.tl {
	background-position: 0px 0px;
	margin-left: -5px;
}
.mb-content-wrapper .corner.tr {
	background-position: 0px -5px;
	margin-right: -5px;
}
.mb-content-wrapper .corner.br {
	background-position: 0px -10px;
	margin-right: -5px;
}
.mb-content-wrapper .corner.bl {
	background-position: 0px -15px;
	margin-left: -5px;
}

.mb-main-content {
	background-color: #FFFFFF;
	width: inherit;
	height: inherit;
}

/*---------------------------------*/
/*------RPane/Details Related------*/
/*---------------------------------*/

.display-wrapper {
	height: inherit;
	width: inherit;
}

.details-header {
	height: 30px;
	padding: 5px;
	width: 96%;
}

.details-header .title {
	font-size: 18pt;
	font-weight: bold;
	float: left;
/*	color: #30322f;*/
}

.content-wrapper {
	height: inherit;
	width: inherit;
/*	border: 5px solid #C3C4C4;*/
	overflow-y: auto;
	padding: 10px;
}

.content-wrapper .cat-content {
	height: 96%;
	width: 96%;
	overflow-y: auto;
}



/*----------Display View-------------*/

.display-container {
	position: relative;
	min-width: 300px;
	min-height: 250px;
	width: 600px;
}

table.display {
	border-top: 1px solid #999999;
	border-collapse:collapse;
	width:100%;
	background-color: #ECECEC;
}

table.display th {
	background-color:#DDDDDD;
	border-bottom: 1px solid #999999;
	color:#444444;
	padding:5px;
	text-align:left;
}

table.display td {
	padding: 5px;
}

table.display td.label {
	vertical-align: top;
	font-weight: bold;
	width: 20%;
	white-space: nowrap;
}

/*------------Form related-----------------*/


.edit-form {
	position: relative;
	float: left;
	width: 300px;
	margin: 10px;
}

table.edit {
	border: 0;
}
td.label {
	font-size: 15px;
/*	width: 35%;*/
	padding: 3px;
}
td.field {
	padding: 3px 3px 7px 3px;
}
td.field input[type=text] {
	border: 1px solid #CCCCCC;
	height:1.6em;
/*	line-height:1.1em;*/
/*	margin:0 0 -0.8em;*/
/*	padding:0.2em 0.64em 0 0.44em;*/
	width:20em;
	font-size: 14px;
	float:left;
}
td.field input[type=text]:focus {
	border: 2px solid #AEB9CD;
}


