/* Hide overlay markup while loading, if js is enabled */
.yui3-js-enabled .yui3-overlay-loading {
/*
    top:-1000em;
    left:-1000em;
    position:absolute;
*/
}
 
/* Overlay Look/Feel */
#wspace-dock.yui3-overlay-content {
/*    padding:3px;*/
/*    border:1px solid #000;*/
/*    background-color:#aaa;*/
}

#wspace-dock.yui3-overlay-content .yui3-widget-hd {
/*    padding:5px;
    border:2px solid #aa0000;
    background-color:#fff;*/
	height: 20px;
}
 
#wspace-dock.yui3-overlay-content .yui3-widget-bd {
	background-image: url(../images/dock/trans-1x5.png);
	background-repeat: repeat;
}
 
#wspace-dock.yui3-overlay-content .yui3-widget-ft {
/*
    padding:5px;
    border:2px solid #00aa00;
    background-color:#fff;
*/
}



/*----------------------DOCK RELATED-------------------*/

#wspace-dock .topbar { float: left; }
#wspace-dock .topbar { height: 5px; width: 100%; }
#wspace-dock .expand-collapse-bar { height: 15px; width: 100%; }
#wspace-dock .expand-collapse-bar {
	float: left;
	background-image: url(../images/dock/trans-1x5.png);
	background-repeat: repeat;
}
#wspace-dock .expand-collapse-arrows {
	float: right;
	margin: 1px 5px 1px 0;
	width: 9px;
	height: 8px;
	background-image: url(../images/dock/expand-arrows-sprite.png);
	background-position: -9px 0px;
	background-repeat: no-repeat;
}
#wspace-dock.collapsed .expand-collapse-arrows {
	background-position: 0px 0px;
}

#wspace-dock .top-bottom-body { height: 5px; width: 215px; }
#wspace-dock.collapsed .top-bottom-body { height: 5px; width: 35px; }

#wspace-dock .top-bottom-body {
	float: left;
	background-image: url(../images/dock/trans-1x5.png);
	background-repeat: repeat-x;
}

#wspace-dock .corner {
	float: left;
	height: 5px;
	width: 5px;
	background-image: url(../images/dock/trans-corners.png);
}
#wspace-dock .corner.tl { }
#wspace-dock .corner.tr { background-position: 0px -5px; }
#wspace-dock .corner.bl { background-position: 0px -15px; }
#wspace-dock .corner.br { background-position: 0px -10px; }


#wspace-dock .expand-collapse-bar {
	float: left;
	background-image: url(../images/dock/trans-1x5.png);
	background-repeat: repeat;
}
#wspace-dock .expand-collapse-arrows {
	float: right;
	margin: 1px 5px 1px 0;
	width: 9px;
	height: 8px;
	background-image: url(../images/dock/expand-arrows-sprite.png);
	background-repeat: no-repeat;
}
#wspace-dock .expand-collapse-arrows.collapse {
	background-position: -9px 0px;
}
 

 /*--------PANEL/ITEM RELATED----------*/
#wspace-dock .panel-group {
	height: 100%;
	width: 215px;
	margin: 0 auto;
}
#wspace-dock.collapsed .panel-group {
	width: 35px;
}

#wspace-dock .panel-group .header {
	height: 8px;
	width: 100%;
	background-color: #CCCCCC;
}

#wspace-dock .panel-list {
	margin: 0;
	padding: 0;
	width: 100%;
/*	height: 100%;*/
	background-color: #EDEDED;
}
#wspace-dock .panel-list li {
	list-style-type: none;
	height: 25px;
	padding: 5px 0;
	cursor: pointer;
}

#wspace-dock .panel-item .lft-endcap {
	height: 25px;
	width: 8px;
	float: left;
	position: absolute;
	z-index: 0;
}
#wspace-dock .panel-item.open .lft-endcap {
/*	background-color:#CCCCCC;*/
	background-image: url(../images/dock/trans-1x5.png);
	background-repeat: repeat;
}

#wspace-dock .panel-item .rt-endcap {
	height: 25px;
	width: 5px;
	float: right;
	position: relative;
	margin-right: 5px;
}
#wspace-dock.collapsed .panel-item .rt-endcap {
	display: none;
}

#wspace-dock .panel-item.active .rt-endcap {
	background-image: url(../images/dock/panel-item-rt-endcap.png);
}

/*--------ITEM/BUTTON RELATED----------*/
/*
.panel-item {
	cursor: pointer;
	height: 30px;
	width: 100px;
	background-color: #EDEDED;
}
*/
#wspace-dock .panel-item .label {
	position: absolute;
	z-index: 0;
	margin-left: 20px;
	height: 23px;
	width: 185px;
	float: left;
	font-size: 12px;
	border-top: 1px solid #EDEDED;
	border-bottom: 1px solid #EDEDED;
}
#wspace-dock.collapsed .panel-item .label {
	display: none;
}

#wspace-dock .panel-item.mover .panel-btn { background-position: -20px 0px; }

#wspace-dock .panel-btn-bg {
	height: 25px;
	width: 25px;
	margin-left: 5px;
	float: left;
	position: absolute;
	z-index: 1;
	background-image: url(../images/dock/panel-btn-bg-sprite.png);
}
#wspace-dock .panel-item.active .panel-btn-bg {
	background-position: -25px 0px;
}
#wspace-dock .panel-btn {
	height: 25px;
	width: 25px;
}
#wspace-dock .panel-item.active .panel-btn {
	background-position: -25px 0px;
}

#wspace-dock .panel-item.active .label {
	background-color: #CCCCCC;
	border-top: 1px solid #A5A5A5;
	border-bottom: 1px solid #A5A5A5;
}

#wspace-dock .panel-btn.applications {
	background-image: url(../images/dock/component-btn-sprite.png);
}
#wspace-dock .panel-btn.users {
	background-image: url(../images/dock/users-btn-sprite.png);
}
#wspace-dock .panel-btn.service-checks {
	background-image: url(../images/dock/service-checks-btn-sprite.png);
}

/*----------------PANEL MODAL------------*/

.yui3-js-enabled .yui3-overlay-loading {
    top:-1000em;
    left:-1000em;
}


/* Overlay Look/Feel */
.panel-modal.yui3-overlay-content {
/*    padding:3px;*/
/*    border:1px solid #000;*/
/*    background-color:#aaa;*/
}

.panel-modal.yui3-overlay-content .yui3-widget-hd {
/*    padding:5px;
    border:2px solid #aa0000;
    background-color:#fff;*/
	height: 20px;
}
 
.panel-modal.yui3-overlay-content .yui3-widget-bd {
	background-image: url(../images/dock/trans-1x5.png);
	background-repeat: repeat;
}
 
.panel-modal.yui3-overlay-content .yui3-widget-ft {
/*
    padding:5px;
    border:2px solid #00aa00;
    background-color:#fff;
*/
}

.panel-modal .topbar { float: left; }
.panel-modal .topbar { height: 5px; width: 100%; }
.panel-modal .expand-collapse-bar { height: 15px; width: 100%; }
.panel-modal .expand-collapse-bar {
	float: left;
	background-image: url(../images/dock/trans-1x5.png);
	background-repeat: repeat;
}
.panel-modal .expand-collapse-arrows {
	float: right;
	margin: 1px 5px 1px 0;
	width: 9px;
	height: 8px;
	background-image: url(../images/dock/expand-arrows-sprite.png);
	background-position: -9px 0px;
	background-repeat: no-repeat;
}
.panel-modal.collapsed .expand-collapse-arrows {
	background-position: 0px 0px;
}

.panel-modal .top-bottom-body { height: 5px; width: 250px; }
.panel-modal.collapsed .top-bottom-body { height: 5px; width: 35px; }

.panel-modal .top-bottom-body {
	float: left;
	background-image: url(../images/dock/trans-1x5.png);
	background-repeat: repeat-x;
}

.panel-modal .corner {
	float: left;
	height: 5px;
	width: 5px;
	background-image: url(../images/dock/trans-corners.png);
}
.panel-modal .corner.tl { }
.panel-modal .corner.tr { background-position: 0px -5px; }
.panel-modal .corner.bl { background-position: 0px -15px; }
.panel-modal .corner.br { background-position: 0px -10px; }


.panel-modal .expand-collapse-bar {
	float: left;
	background-image: url(../images/dock/trans-1x5.png);
	background-repeat: repeat;
}
.panel-modal .expand-collapse-arrows {
	float: right;
	margin: 1px 5px 1px 0;
	width: 9px;
	height: 8px;
	background-image: url(../images/dock/expand-arrows-sprite.png);
	background-repeat: no-repeat;
}
.panel-modal .expand-collapse-arrows.collapse {
	background-position: -9px 0px;
}

.panel-modal .width-resize-drag {
	height: 100%;
	width: 5px;
	float: left;
}
.panel-modal.resizeable .width-resize-drag {
	cursor: w-resize;
}

.panel-modal.resizeable .height-resize-drag {
	cursor: n-resize;
}
.panel-modal .diag-resize-drag {
	height: 5px;
	width: 5px;
	position: absolute;
	float: left;
	z-index: 2;
}
.panel-modal.resizeable .diag-resize-drag {
	cursor: ne-resize;
}
/*
.panel-modal .width-resizer {
	height: 100%;
	width: 5px;
	float: left;
}
.panel-modal .diag-resizer-drag {
	height: 5px;
	width: 5px;
	position: absolute;
	float: left;
	z-index: 2;
}

*/