/* Topbar */

.menu-bar .editor-bar-wrapper {
	position: absolute;
	z-index: 10;
	height: 40px;
	width: 90px;
	right: 8px;
	overflow-x: hidden;
	background-image: url("../images/topbar/bg-grey-slice.png");
	background-repeat: repeat-x;
/*	border-left: 1px solid green;*/
}

.editor-bar-wrapper .arrow {
	height: 10px;
	width: 10px;
	margin: 15px 5px 0 0;
	background-image: url(../images/topbar/arrow-sprite.png);
	position: relative;
	float: right;
}
.editor-bar-wrapper.closed .arrow {
	background-position: -10px 0px;
}
.editor-bar-wrapper.open .arrow {
	background-position: 0px 0px;
}

.editor-bar-wrapper .divider {
	position: absolute;
	z-index: 10;
	left: 0px;
	height: 40px;
	width: 26px;
	background-image: url(../images/topbar/menu-divider-angled.png);
	background-repeat: no-repeat;
	float: left;
}


.editor-bar-wrapper .editor-btn {
	float: right;
	font-size: 16px;
	width: 80px;
	height: 40px;
	cursor: pointer;
}

.editor-bar-wrapper .name-item {
	padding-top: 9px;
	font-size: 16px;
}
/*------End Topbar-------*/

.editor-wrapper {
/*
	display: none;
	background-color: green;
	float: left;
	position: absolute;
	z-index: 10;
*/
	width: 100%;
	height: 100%;
}

 
#editor, .editor {
	font-size: 12px;
/*	width: 1200px;
	height: 500px;*/
	width: 100%;
	height: 100%;
	position: relative;
	float: left;
}

.editor-header {
	position: relative;
	float: left;
	background-color: #CCCCCC;
}
.editor-header .close-btn {
	width: 16px;
	height: 16px;
	position: relative;
	float: right;
	background-image: url(../images/close-button.png);
	cursor: pointer;
	margin: 4px 5px 0 0;
}

.editor-header .file-tab {
	height: 25px;
	border-left: 1px solid #333333;
	border-right: 1px solid #333333;
	float: left;
	padding: 2px 5px 0 5px;
	cursor: pointer;
}
.editor-header .file-tab.focus {
	background-image: url(../images/editor/file-tab-focus-bg.png);
	background-repeat: repeat-x;
}

.file-tab .close-file {
	height: 16px;
	width: 16px;
	margin-left: 5px;
	float: right;
}
.file-tab.show-close .close-file {
	background-image: url(../images/editor/close-file-icon.png);
}

#file-explorer {
	background-color: #FFFFFF;
	border: 2px solid #CCCCCC;
	width: 300px;
	height: 100%;
	overflow: auto;
	position: relative;
	float: left;
}

.select-popup {
	position: absolute;
	z-index: 100;
	height: 70px;
	width: 150px;
	background-color: #CCCCCC;

	text-decoration: none;

	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
}
