/*------------Form related-----------------*/


.edit-form {
	position: relative;
	float: left;
	width: 300px;
	margin: 10px;
}

table.edit {
	border: 0;
}
table.display {
	border: 0;
}
td.label {
	font-size: 15px;
	font-weight: bold;
/*	width: 35%;*/
	padding: 3px;
}
td.field {
	padding: 3px 3px 7px 3px;
}
td.field input[type=text] {
	border: 1px solid #CCCCCC;
	height:1.6em;
/*	line-height:1.1em;*/
/*	margin:0 0 -0.8em;*/
/*	padding:0.2em 0.64em 0 0.44em;*/
	width:20em;
	font-size: 14px;
	float:left;
}

td.field input:focus, textarea:focus {
	border: 2px solid #AEB9CD;
}

