
body {
	height: 100%;
	overflow: hidden;
	color: #30322f;
	background-image: url(../images/blue-bg-test.png);
	background-repeat: repeat;
}

.page-container {
	min-height: 100%;
	position: relative;
/*	background-color: #FFFFFF;*/
/*	background-image: url(../images/blue-bg-test.png);
	background-repeat: repeat;*/
}


.main-body-wrapper {
	height: inherit;
	width: inherit;
	min-height: 300px;
	min-width: 600px;
	position: relative;
}

/*---------------------------------*/
/*---Region Stylings------------*/
/*---------------------------------*/
#l-region {
	min-width: 50px;
	width: 175px;
	height: 100%;
	position: relative;
	background-color: #FFFFFF;
	float: left;
}

#main-region {
	min-width: 100px;
	width: 100%;
/*	width: 600px;*/
	height: 100%;
	position: relative;
	background-color: #FFFFFF;
/*	background-color: green;*/
	float: left;
}
#editor-panel {
	min-width: 100px;
	width: 600px;
	height: 100%;
	position: relative;
	background-color: #FFFFFF;
	float: left;
}

.v-region-resizer {
	height: 100%;
	width: 3px;
	background-color: #CCCCCC;
	position: relative;
	float: left;
	cursor: w-resize;
}
.h-region-resizer {
	height: 3px;
	width: 100%;
	background-color: #CCCCCC;
	position: relative;
	float: left;
	cursor: n-resize;
}

.editor-panel {
	height: 300px;
	width: inherit;
	background-color: #FFFFFF;
	position: relative;
	float: left;
}
.console-panel {
	height: 100px;
	width: inherit;

}
/*------Panel--------------------------*/

.panel {
	position: relative;
	float: left;
}
.panel.foobut {
	background-color: red;
}
.panel.tempclass {
	background-color: #FFFFFF;
	overflow: auto;
}


.panel .content-wrapper {
	overflow: hidden;
	border: 3px solid #99B4D1;
}
.panel .content {
	overflow: auto;
}

.panel .panel-header {
	position: relative;
	width: 100%;
	height: 25px;
	min-width: 150px;
	background-color: #E4E4E4;
}

.panel .panel-header .tab-list {
	position: relative;
	float: left;
	width: 100%;
	height: 25px;
	min-width: 150px;
	
	overflow-x: hidden;
}
.panel .panel-header .tab-list li {
	list-style: none outside;
	height: 25px;
/*	padding: 5px 5px 0 5px;*/
	padding: 0 5px 0 5px;
	position: relative;
	float: left;
}
.panel .panel-header .tab-list li.active {
	border-top: 1px solid #343434;
	border-left: 1px solid #343434;
	border-right: 1px solid #343434;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
}

.panel .view-header {
	position: relative;
	width: 100%;
	height: 24px;
	border-top: 1px solid #CCCCCC;
	min-width: 150px;
	overflow-x: hidden;
	background-color: #E4E4E4;
}

.project-view-content {
	margin: 5px;
	width: 100%;
	height: 100%;
	overflow: auto;
}

.project-item {
	height: 25px;
	margin: 5px;
	cursor: pointer;
}
.project-icon {
	height: 20px;
	width: 20px;
	margin: 1px 0 0 3px;
	background-repeat: no-repeat;
	float: left;
}
.project-item	.project-icon {
	background-image: url(../images/ide/project-folder.png);
}
.project-item.open	.project-icon {
	background-image: url(../images/ide/project-folder-open.png);
}

.project-label {
	float: left;
	font-size: 13px;
}

.editor-empty-bg {
	background-image: url(../images/ide/reactor8-logo-trans.png);
	height: 55px;
	width: 350px;
	margin: 60px auto 0 auto;
}

.tab-list .view-tab {
	height: 25px;
	border-left: 1px solid #333333;
	border-right: 1px solid #333333;
	float: left;
	padding: 2px 5px 0 5px;
	cursor: pointer;
}
.tab-list .view-tab.active {
	background-color: #99B4D1;
}
.tab-list .view-tab.focus {
	background-image: url(../images/editor/file-tab-focus-bg.png);
	background-repeat: repeat-x;
}

.view-tab .close-view {
	height: 16px;
	width: 16px;
	margin-left: 5px;
	float: right;
}
.view-tab.show-close .close-view {
	background-image: url(../images/editor/close-file-icon.png);
}

/*------------Form related-----------------*/


.edit-form {
	position: relative;
	float: left;
	width: 300px;
	margin: 10px;
}

table.edit {
	border: 0;
}
td.label {
	font-size: 15px;
/*	width: 35%;*/
	padding: 3px;
}
td.field {
	padding: 3px 3px 7px 3px;
}
td.field input[type=text] {
	border: 1px solid #CCCCCC;
	height:1.6em;
/*	line-height:1.1em;*/
/*	margin:0 0 -0.8em;*/
/*	padding:0.2em 0.64em 0 0.44em;*/
	width:20em;
	font-size: 14px;
	float:left;
}
td.field input[type=text]:focus {
	border: 2px solid #AEB9CD;
}

.group-header {
	font-size: 16px;
	font-weight: bold;
	position: relative;
	float: left;
	height: 20px;
}
.add-btn {
	background-image: url(../images/plus-button2.png);
	height: 16px;
	width: 16px;
	margin-left: 10px;
	cursor: pointer;
	position: relative;
	float: left;
}
