
body {
	height: 100%;
	overflow: hidden;
	color: #30322f;
	margin: 0;
}

.page-container {
	min-height: 100%;
	position: relative;
	background-color: #FFFFFF;
}


/*-----------------------*/
/*---TOP BAR-------------*/
/*-----------------------*/

#topbar {
	position: relative;
	width: 100%;
	height: 40px;
	min-width: 500px;
/*	background: repeat-x url(../images/toolbar/tbar-bg.png);*/
/*	border: 1px solid black;*/
}

#menu-bar {
	height: 40px;
	width: 100%;
	background-color: #9CAAC1;
}

#menu-bar .menu-item {
	float: left;
	padding-top: 7px;
	margin-left: 30px;
	font-size: 16px;
}
#menu-bar .menu-item a:hover {
	color: #30322f;
}
#menu-bar .menu-item a:link {
	color: #30322f;
}
#menu-bar .menu-item a:active {
	color: #30322f;
}
#menu-bar .menu-item a:visited {
	color: #30322f;
}
#menu-bar .menu-item a:hover {
	color: #FFFFFF;
}
#menu-bar .menu-item a:hover {
	color: #FFFFFF;
}

#menu-bar .menu-item a {
	text-decoration: none;
}

.logo {
	height: 30px;
/*	width: 106px;*/
	width: 26px;
	float: left;
	margin: 5px 0 0 10px;
}

.logo.black {
	background-image: url(../images/icon-black.png);
}
/*******************************************************/



.clearfix {
	display: block;
}

body {
/*	background: url("../images/bg.jpg") repeat-x scroll left top #4E87A7;*/
	font-family: "lucida grande","Segoe UI",arial,verdana,"lucida sans unicode",tahoma,sans-serif;
	font-size: 8pt;
	font-weight: normal;
	color: #444444;
}

body input textarea select {
	font-family: "lucida grande","Segoe UI",arial,verdana,"lucida sans unicode",tahoma,sans-serif;
	font-size: 8pt;
	font-weight: normal;
	color: #444444;
}

h1 {
	font-size: 2.0em;
	font-weight: bold;
	color:#444444;
}

#page_container {
	width: 888px;
	margin: 30px auto 10px auto;
}

#left_col {
	width: 198px;
	float: left;
	background: none repeat scroll 0 0 #FFFFFF;
}

#main_body {
	background: none repeat scroll 0 0 #FFFFFF;
	border-left: 1px solid #AACCEE;
	border-bottom: 1px solid #AACCEE;
	width: 100%;
}

a {
	color: #1F75CC;
}

/*--------Menu Styling --------------*/

#menu_container {
	border-bottom: 1px solid #AACCEE;
	height: 35px;
	width: 100%;
}

#menu_container ul {
	float: left;
	padding: 0;
	margin: -2px 0 0 10px;
	position: relative;
}

#menu_container li {
	float: left;
	background-color: #E9F4FF;
	border: 1px solid #AACCEE;
	float: left;
	list-style: none outside none;
	margin: 0 5px;
	line-height: 35px;
}

#menu_container li.selected {
	background-color: #FFFFFF;
	border-bottom: 1px solid #FFFFFF;
}

#menu_container li a {
	font-size: 13px;
	font-weight: bold;
	min-height: 16px;
	padding: 7px 11px;
	position: relative;
	cursor: pointer;
	text-decoration: none;
}

/*----------Display View-------------*/

.display_container {
	padding: 10px 20px;
	position: relative;
}

table.display {
	border-top: 1px solid #999999;
	border-bottom: 1px solid #999999;
	border-collapse:collapse;
	width:100%;
}

table.display th {
	background-color:#DDDDDD;
	border-bottom: 1px solid #999999;
	color:#444444;
	padding:5px;
	text-align:left;
}

table.display td {
	padding: 5px;
}

table.display td.label {
	width: 35%;
	vertical-align: top;
	font-weight: bold;
	width: 35%;
}

/*--------Edit View------------*/
.edit_container {
	padding: 10px 20px;
	position: relative;
}


table.edit {
	border-top: 1px solid #999999;
	border-bottom: 1px solid #999999;
	border-collapse:collapse;
	width:100%;
}

table.edit th {
	background-color: #DDDDDD;
	border-bottom: 1px solid #999999;
	color: #444444;
	padding: 5px;
	text-align:left;
}

table.edit td {
	padding:5px;
}

table.edit td.label {
	width: 15%;
	vertical-align: top;
	font-weight: bold;
}

/*----------List View------------*/

.sort_arrow {
	width:8px;
	height: 10px;
	background-image: url("../images/sort_arrows.png");
	background-repeat: no-repeat;
	float: left;
	margin: 5px 0 0 5px;
	cursor: pointer;
}
.sort_arrow.desc {
	background-position: -8px 0px;
}
.sort_arrow.asc {
	background-position: -16px 0px;
}

.list_container {
	padding: 10px 20px;
}

table.list {
	border-top: 1px solid #999999;
	border-collapse: collapse;
	width: 100%;
}

table.list th {
	background-color: #DDDDDD;
	border-bottom: 1px solid #999999;
	color: #444444;
	padding: 5px;
	text-align:left;
}

table.list tr td {
	padding: 5px;
	border-top: 1px solid #FFFFFF;
	border-bottom: 1px solid #FFFFFF;
}

table.list tr:hover td {
	background-color: #E9F4FF;
	border-top: 1px solid #AACCEE;
	border-bottom: 1px solid #AACCEE;
}

table.list tr a {
	text-decoration: none;
}

table.list tr.odd {
	background-color: #EEEEEE;
}


/*-------------------------------------*/


/*----------Search-------------*/

.search-container {
	height: 30px;
	width: 887px;
	border-bottom: 1px solid #AACCEE;
	position: absolute;
	z-index: 10;
}

.expand-contract-blue {
	height: 16px;
	width: 16px;
	background-image: url(../images/expand-contract-blue.png);
	float: left;
	margin-left: 5px;
	cursor: pointer;
}

.expand-contract-blue.expanded {
	background-position: -16px 0px;
}

.search-container .drop-shadow {
	position: absolute;
	z-index: 0;
}
.saved-search-l-pane {
	float: left;
	width: 90px;
	height: 179px;
	background-color: #FFFFFF;
	border-bottom: 1px solid #AACCEE;
}
.saved-search-r-pane {
	float: left;
	width: 797px;
	height: 180px;
}

.saved-search-header {
	float: left;
	width: 795px;
	height: 29px;
	background-color: #FFFFFF;
	border-top: 1px solid #AACCEE;
	border-left: 1px solid #AACCEE;
	border-right: 1px solid #AACCEE;
}

.saved-search-categories {
	float: left;
	width: 90px;
}

.saved-search-cat {
	width: 90px;
	height: 25px;
	font-size: 14px;
	font-weight: bold;
	cursor: pointer;
}
.saved-search-cat .label {
	margin: 3px 5px;;
	float: right;
}

.saved-search-cat.selected {
	background-color: #AACCEE;
}

.search-attr-body {
	display: none;
	float: left;
	width: 787px;
	height: 140px;
	border: 5px solid #AACCEE;
}

.search-filter-wrapper {
	width: 300px;
	height: 100%;
	background-color: #FFFFFF;
	float: left;
}

.filter-header {
	height: 30px;
	width: 100%;
	text-align: center;
	font-weight: bold;
	font-size: 13px;
	border-bottom: 1px solid #AACCEE;
}

.filter-list {
	width: 100%;
	height: 110px;
	overflow-y: scroll;
	font-size: 11px;
}
.column-list {
	width: 100%;
	height: 110px;
	font-size: 11px;
}

.search-remove-filter {
	background-image: url(../images/close-button.png);
	height: 16px;
	width: 16px;
	float: right;
}
.search-add-filter {
	background-image: url(../images/plus-button2.png);
	height: 16px;
	width: 16px;
	float: right;
	margin: 6px 10px 0 0;
	cursor: pointer;
}

.search-add-filter.disabled {
	background-image: url(../images/plus-button2.png);
	background-position: -16px 0;
	cursor: default;
}

.search-filter-value {
	float: left;
}

.search-filter {
	float: right;
	border: 1px solid #AACCEE;
	margin: 5px;
	width: 95%;
	cursor: pointer;
}

.arrow-square {
	height: 16px;
	width: 16px;
}
.arrow-square.blue {
	background-image: url(../images/arrow-square-blue.png);
}
.arrow-square.blue.left {
	background-position: -16px 0px;
}
.arrow-square.blue.right {
	background-position: -48px 0px;
}
.arrow-square.blue.down {
	background-position: 0px 0px;
}
.arrow-square.blue.up {
	background-position: -32px 0px;
}

/*------------Drop Shadow---------*/

.search-rt-shadow {
	float: right;
	width: 11px;
	height: 191px;
}

.search-rt-shadow .shadow-top-cap {
	background-image: url(../images/search-box-shadow-corners.png);
	background-position: 0px -11px;
	height: 11px;
	width: 11px;
	margin-top: 5px;
}
.search-rt-shadow .shadow-rt-body {
	background-image: url(../images/search-box-rt-body-shadow.png);
	background-repeat: repeat-y;
	width: 11px;
	height: 164px;
}

.search-rt-shadow .shadow-btm-cap {
	background-image: url(../images/search-box-shadow-corners.png);
	background-position: 0px -22px;
	height: 11px;
	width: 11px;
}

.search-btm-shadow {
	width: 887px;
	height: 11px;
	float: left;
}

.search-btm-shadow .shadow-left-cap {
	background-image: url(../images/search-box-shadow-corners.png);
	background-position: 0px -33px;
	height: 11px;
	width: 11px;
	margin-left: 5px;
	float: left;
}
.search-btm-shadow .shadow-btm-body {
	background-image: url(../images/search-box-btm-body-shadow.png);
	background-repeat: repeat-x;
	width: 871px;
	height: 11px;
	float: left;
}

/*---------------*/
