.library-category-list {
	margin-top: 20px;
	width: 100%;
	position: relative;
	float: left;

	text-decoration: none;
	font-family: "Trebuchet MS",Helvetica,Jamrul,sans-serif;
	font-size: 10pt;
	color: #333;
/*	text-shadow: 0px 1px 1px #fff;*/
/*	filter: dropshadow(color=#fff, offx=0, offy=1);*/
}

.library-category-list .library-cat {
	position: relative;
	float: left;
	width: inherit;
	height: 25px;
	margin: 3px 0;
	cursor: pointer;
}

.library-category-list .library-cat.active {
	font-weight: bold;
	background-color: #ccdbe5;
	border-bottom: 1px solid #b7cddb;
}

.library-category-list .library-cat .cat-label {
	position: relative;
	float: left;
	margin: 4px 0 0 15px;
}
