/*----------List View------------*/

.sort_arrow {
	width:8px;
	height: 10px;
	background-image: url("../images/sort_arrows.png");
	background-repeat: no-repeat;
	float: left;
	margin: 5px 0 0 5px;
	cursor: pointer;
}
.sort_arrow.desc {
	background-position: -8px 0px;
}
.sort_arrow.asc {
	background-position: -16px 0px;
}

.list_container {
	padding: 10px 20px;
}

table.list {
	border-top: 1px solid #999999;
	border-collapse: collapse;
	width: 100%;
}

table.list th {
	background-color: #DDDDDD;
	border-bottom: 1px solid #999999;
	color: #444444;
	padding: 5px;
	text-align:left;
	font-weight: bold;
	white-space: nowrap;
}

table.list tr td {
	padding: 5px;
	border-top: 1px solid #FFFFFF;
	border-bottom: 1px solid #FFFFFF;
}

table.list tr:hover td {
	background-color: #E9F4FF;
	border-top: 1px solid #AACCEE;
	border-bottom: 1px solid #AACCEE;
}

table.list tr a {
	text-decoration: none;
}

table.list tr.odd {
	background-color: #EEEEEE;
}
