
.monitor {
	
}

.monitor.small {
	height: 40px;
	width: 40px;
	left: 0;
	top: 250px;
	position: absolute;
	background: no-repeat url(../images/monitor-item.png);
}
.monitor.small.focus {
	background-position: -40px 0px;
}
