
.r8-project-tree {
	width: 100%;
}

.r8-project-tree ul {
	display: block;
	list-style-type: none;
	margin: 0;
	padding: 0;
}


.tree-context-menu {
	background: none repeat scroll 0 0 #EBEBEB;
	border: 1px solid silver;
	margin: 0;
	min-width: 180px;
	padding: 0;
	position: absolute;
	z-index: 10000;
}

.tree-context-menu ul {
	min-width: 180px;
	margin: 5px 0 5px 10px;
}

.tree-context-menu li {
	display: block;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.tree-context-menu li.seperator {
	background: none repeat scroll 0 0 silver;
	font-size: 1px;
	height: 1px;
	line-height: 1px;
	margin: 0 2px;
	min-height: 0;
	overflow: hidden;
	padding: 0;
}