#wspace-container {
	position: relative;
	width: 100%;
	height: 450px;
	overflow: hidden;
}

.tbar_search {
	background:#FFFFFF none repeat scroll 0 0;
	border:1px solid #ACBABD;
	font-size:115.9%;
	float:right;
	margin: 4px 25px 0 0;
	padding:0.2em 0.2em 1em;
}

.tbar_search .tbar_search_submit {
	background: repeat url(../images/workspace/search_icon-1.png);
	cursor: pointer;
	height: 24px;
	width: 24px;
	overflow: hidden;
}

.tbar_search input {
	border: 0 none;
	height:1.4em;
	line-height:1.2em;
	margin:0 0 -0.8em;
	padding:0.2em 0.64em 0 0.44em;
	width:15em;
	font-size: 100%;
	float: left;
}

#wspaceHeader {
	height: 13px;
	width: 100%;
	position: relative;
	z-index: 99;
}

#wsh-l-corner {
	height: 13px;
	width: 13px;
	float: left;
	position: relative;
	background: no-repeat url(../images/workspace/l-xpand-corner.png);
}
#wsh-center {
	width: 1174px;
	height: 13px;
	background: repeat-x url(../images/workspace/xpand-center-bg.png);
	float: left;
	position: relative;
}
#wsh-r-corner {
	height: 13px;
	width: 13px;
	float: left;
	position: relative;
	background: no-repeat url(../images/workspace/r-xpand-corner.png);
}

#page-container {
	width: 100%;
	height: 100%;
	position: absolute;
	display: block;
}

#workspace-wrapper {
	width: 100%;
	height: 100%;
	position: relative;
	background: url(../images/workspace/wspace-bg-3.png);
	display: block;
}


/*--------------Workspace Alert Modal------------------*/
.modal-alert-wrapper {
	height: 75px;
	width: 250px;
	position: absolute;
	z-index: 100;
}
.modal-alert-wrapper .l-cap {
	height: inherit;
	width: 5px;
	background: no-repeat url(../images/modal-alert-end-caps.png);
	position: relative;
	float: left;
}
.modal-alert-wrapper .body {
	height: 55px;
	width: 220px;
	background: repeat-x url(../images/modal-alert-bg-slice.png);
	position: relative;
	float: left;
	padding: 10px;
	color: #FFFFFF;
}

.modal-alert-wrapper .r-cap {
	height: inherit;
	width: 5px;
	background: no-repeat url(../images/modal-alert-end-caps.png);
	background-position: -5px 0px;
	position: relative;
	float: left;
}


/*
.target-viewspace {
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	position: relative;
	background: url(../images/workspace/wspace-bg-3.png);
	display: block;
}
*/

.editor-target {
	min-width: 100px;
	position: relative;
	background-color: #FFFFFF;
	float: left;
	width: 100%;
	height: 533px;
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;

	background-image: url(../images/v1/target-editor-bg-01.jpg);
	background-repeat: repeat;
}

.selectionBox {
	position: absolute;
/*	border: 2px solid #3399FF;
	background-color: #B7D4F0;*/
	border: 2px dashed #3399FF;
	background-color: #b7fb15;
	opacity: 0.5;
	filter: alpha(opacity=50);
	z-index: 98;
}

.dragWire {
	position: absolute;
	z-index: 100;
/*	border: 1px solid blue;*/
}

.link {
	position: absolute;
	z-index: 0;
}
.link.full-bezier {
/*	border: 1px solid red;*/
}
.link.hanger {
/*	border: 1px solid red;*/
}

.compFocus {
	z-index: 20;
}

.compBlur {
	z-index: 1;
}

.southConnectors {
/*	bottom: 0;*/
/*	float: left; */
	margin: -7px auto 0 auto;
/*	background: url(../images/workspace/availDot.png) no-repeat;*/
/*	border: 1px solid red;*/
}
.northConnectors {
/*	bottom: 0;*/
/*	float: left; */
	margin: 0 auto -7px auto;
	height: 14px;
/*	background: url(../images/workspace/availDot.png) no-repeat;*/
/*	border: 1px solid red;*/
}

.northConnector {
	bottom: 0;
	margin: -7px auto 0 auto;
	height: 14px;
	width: 14px;
	background: url(../images/workspace/availDot.png) no-repeat;
}
.eastConnector {
	right: 0;
	margin: auto -7px auto 0;
	height: 14px;
	width: 14px;
	background: url(../images/workspace/availDot.png) no-repeat;
	float: right;
}

.dragHandle {
	background: url(../images/workspace/availDot.png) no-repeat;
}

/*-----------------TEMP---------------*/
.editor-target .item.node.basic {
	height: 60px;
	width: 120px;
	position: absolute;
	background-color: #AABBCC;

	border: 2px solid black;

	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;

	-moz-box-shadow: 2px 2px 8px #000000;
}
.editor-target .node .name {
	width: 75%;
	height: 18px;
/*	margin: 30px auto 0 auto;*/
	overflow-x: hidden;
	text-overflow: ellipsis;
}
