.basic-item.group .body {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
/*    -moz-binding: url('assets/xml/ellipsis.xml#ellipsis');*/
}


/*----------------------DOCK RELATED-------------------*/


.wspace-dock-wrapper {
	overflow: hidden;
	display: block;
	position: absolute;
/*	background-color: blue;*/
}
.wspace-dock-wrapper.maximized { height: 425px; width: 260px; }
.wspace-dock-wrapper.minimized { height: 220px; width: 110px; }

.wspace-dock-wrapper .topbar { float: left; }
.wspace-dock-wrapper.maximized .topbar { height: 5px; width: 410px; }
.wspace-dock-wrapper.minimized .topbar { height: 5px; width: 110px; }
.wspace-dock-wrapper.minimized .expand-collapse-bar {height: 15px; width: 110px; }

.wspace-dock-wrapper .bottombar { float:left; }
.wspace-dock-wrapper.maximized .bottombar { height: 5px; width: 410px; }
.wspace-dock-wrapper.minimized .bottombar { height: 5px; width: 110px; }

.wspace-dock-wrapper .corner {
	float: left;
	height: 5px;
	width: 5px;
	background-image: url(../images/dock/trans-corners.png);
}
.wspace-dock-wrapper .corner.tl { }
.wspace-dock-wrapper .corner.tr { background-position: 0px -5px; }
.wspace-dock-wrapper .corner.bl { background-position: 0px -15px; }
.wspace-dock-wrapper .corner.br { background-position: 0px -10px; }

.wspace-dock-wrapper .top-bottom-body {
	float: left;
	background-image: url(../images/dock/trans-1x5.png);
	background-repeat: repeat-x;
}
.wspace-dock-wrapper .expand-collapse-bar {
	float: left;
	background-image: url(../images/dock/trans-1x5.png);
	background-repeat: repeat;
}
.wspace-dock-wrapper .expand-collapse-arrows {
	float: right;
	margin: 1px 5px 1px 0;
	width: 9px;
	height: 8px;
	background-image: url(../images/dock/expand-arrows-sprite.png);
	background-repeat: no-repeat;
}
.wspace-dock-wrapper .expand-collapse-arrows.collapse {
	background-position: -9px 0px;
}
 
.wspace-dock-wrapper.maximized .top-bottom-body { height: 5px; width: 250px; }
.wspace-dock-wrapper.minimized .top-bottom-body { height: 5px; width: 100px; }

.wspace-dock-wrapper .left-trans-bar {
	float: left;
	background-image: url(../images/dock/trans-5x1.png);
	background-repeat: repeat-y;
}
.wspace-dock-wrapper.maximized .left-trans-bar { height: 400px; width: 5px; }
.wspace-dock-wrapper.minimized .left-trans-bar { height: 200px; width: 5px; }

.wspace-dock-wrapper .right-trans-bar {
	float: left;
	background-image: url(../images/dock/trans-5x1.png);
	background-repeat: repeat-y;
}
.wspace-dock-wrapper.maximized .right-trans-bar { height: 400px; width: 5px; }
.wspace-dock-wrapper.minimized .right-trans-bar { height: 200px; width: 5px; }

.wspace-dock-maximized {
	overflow: hidden;
	display: none;
	position: relative;
	float: left;
	height: 400px;
	width: 250px;
/*	border: 3px solid #CCCCCC;*/
/*	background-color: #DDDDDD;*/
	background-image: url(../images/dock/trans-5x5.png);
	background-repeat: repeat;
}

.wspace-dock-minimized {
	overflow: hidden;
	display: none;
	position: relative;
	float: left;
	height: 200px;
	width: 100px;
	background-image: url(../images/dock/trans-5x5.png);
	background-repeat: repeat;
}

.wspace-dock-wrapper.maximized .wspace-dock-maximized {
	display: block;
}

.wspace-dock-wrapper.minimized .wspace-dock-minimized {
	display: block;
}

.wspace-dock-topbar-container {
	float: left;
	position: relative;
	height: 25px;
	width: 250px;
/*	background-color: #FFFFFF;*/
	background-image: url(../images/wspace-dock-topbar-bg.png);
	background-repeat: repeat-x;
}

.wspace-dock-body-container {
	position: relative;
	float: left;
	height: 375px;
	width: 245px;
}

.wspace-dock-list-item {
	background-color: #FFFFFF;
	padding: 5px;
	margin-right: 18px;
	cursor: pointer;
	height: 25px;;
/*	border-bottom: 1px solid #CCCCCC;*/
	margin-bottom: 2px;
}

.wspace-dock-list-item .label {
	font-weight: bold;
	margin: 4px 0 0 0;
	position: relative;
	float: left;
}

.wspace-dock-list-item .more {
	font-weight: bold;
	font-size: 16px;
	float: right;
	position: relative;
}

.wspace-dock-litem.first {
	margin-bottom: 0px;
}

.wspace-dock-litem.last {
	margin-bottom: 0px;
}
/*
#wspace-dock-topbar {
	position: relative;
	float: left;
	width: 250px;
	height: 25px;
	background-color: green;
}
*/
.wspace-dock-topbar-container .title {
	font-weight: bold;
	font-size: 16px;
	margin-left: 70px;
	margin-top: 3px;
	position: absolute;
	z-index: 0;
}

.topbar-title-item {
	float: left;
	position: relative;
	height: 25px;
	width: 250px;
/*	background-color: #FFFFFF;*/
}

.topbar-title-item .back-btn {
	position: absolute;
	z-index: 1;
	height: 16px;
	width: 16px;
	background-image: url(../images/arrow-square-blue.png);
	cursor: pointer;
	background-position: -16px 0px;
	margin: 4px;
}

.wspace-body-item {
	overflow-x: hidden;
	overflow-y: hidden;
	position: relative;
	float: left;
	height: 375px;
	width: 250px;
/*	background-color: #DDDDDD;*/
}

/*-------------Panel Related-------------*/
.panel-item {
	cursor: pointer;
	height: 30px;
	width: 100px;
	background-color: #EDEDED;
}
/*
.panel-item .label {
	float: left;
	font-size: 12px;
	margin-top: 6px;
}
*/
.panel-item.active .label { font-weight: bold; }

.panel-item.active .components-panel-btn { background-position: -16px 0px; }
.panel-item.active .applications-panel-btn { background-position: -16px 0px; }
.panel-item.active .users-panel-btn { background-position: -16px 0px; }
.panel-item.active .languages-panel-btn { background-position: -16px 0px; }
.panel-item.active .service-checks-panel-btn { background-position: -16px 0px; }

.components-panel-btn {
	height: 16px;
	width: 16px;
	margin: 3px;
	background-image: url(../images/dock/components-panel-btn-sprite.png);
}
.applications-panel-btn {
	height: 16px;
	width: 16px;
	margin: 3px;
	background-image: url(../images/dock/components-panel-btn-sprite.png);
}
.languages-panel-btn {
	height: 16px;
	width: 16px;
	margin: 3px;
	background-image: url(../images/dock/components-panel-btn-sprite.png);
}
.service-checks-panel-btn {
	height: 16px;
	width: 16px;
	margin: 3px;
	background-image: url(../images/dock/components-panel-btn-sprite.png);
}
.users-panel-btn {
	height: 16px;
	width: 16px;
	margin: 3px;
	background-image: url(../images/dock/components-panel-btn-sprite.png);
}




/*-------ViewSpace Modal-----------*/

.port-modal {
	height: 80px;
	width: 200px;
	position: absolute;
	z-index: 100;
}
.port-modal .l-col {
	width: 7px;
	height: 80px;
	position: relative;
	float: left;
}
.port-modal .r-col {
	width: 7px;
	height: 80px;
	position: relative;
	float: left;
}
.port-modal .l-col-body {
	height: 66px;
	width: 5px;
	border-left: 2px solid black;
	background-color: #FFFFFF;
	position: relative;
	float: left;
}
.port-modal .r-col-body {
	height: 66px;
	width: 5px;
	border-right: 2px solid black;
	background-color: #FFFFFF;
	position: relative;
	float: left;
}

.port-modal .body {
	height: 76px;
	width: 186px;
	background-color: #FFFFFF;
	position: relative;
	float: left;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
}

.port-modal .header {
	width: 100%;
/*	height: 20px;*/
	font-weight: bold;
}

.port-modal .corner {
	height: 7px;
	width: 7px;
	background-repeat: no-repeat;
	float: left;
	background-image: url(../images/modal-corners-white.png);
	position: relative;
	float: left;
}

.port-modal .corner.tl {
}
.port-modal .corner.tr {
	background-position: 0px -7px;
}
.port-modal .corner.br {
	background-position: 0px -14px;
}
.port-modal .corner.bl {
	background-position: 0px -21px;
}
