.basic-group.medium .item-toolbar {
	height: 60px;
	width: 256px;
	float: left;
	position: relative;
/*	border: 1px solid red;*/
	top: -30px;
}

.basic-group.medium .item-toolbar-main {
	height: 30px;
	width: 100%;
	margin-top: 2px;
	top: 30px;
	position: absolute;
}

.toolbar-tool-content {
	top: 0px;
	height: 30px;
	width: 100%;
	left: -256px;
	position: absolute;
	padding: 4px;
}

.basic-group.medium .toolbar-wrapper .tb-l-cap {
	float: left;
	width: 3px;
	height: 24px;
	background-image: url(../images/toolbar/l-endcap.png);
	background-repeat: no-repeat;
}
.basic-group.green .toolbar-wrapper .tb-l-cap {
	background-position: 0px 0px;
}
.basic-group.medium .toolbar-wrapper .tb-body {
	float: left;
	width: 239px;
	height: 22px;
}
.basic-group.green .toolbar-wrapper .tb-body {
	border-top: 1px solid #A8C298;
	border-bottom: 1px solid #A8C298;
}
.basic-group.medium .toolbar-wrapper .tb-r-cap {
	float: left;
	width: 14px;
	height: 24px;
	background-image: url(../images/toolbar/r-endcap.png);
	background-repeat: no-repeat;
}
.basic-group.green .toolbar-wrapper .tb-r-cap {
	background-position: 0px 0px;
}

.tool-button {
	height: 22px;
	width: 22px;
	margin-left: 3px;
	float: left;
}
.tool-button.active {
	background-image: url(../images/toolbar/tool-bg.png);
}
.tool {
	height: 22px;
	width: 22px;
}
.item-details {
	background-image: url(../images/toolbar/details.png);
}
.item-quicksearch {
	background-image: url(../images/toolbar/quicksearch.png);
}
.item-elastic {
	background-image: url(../images/toolbar/elastic.png);
}

.tbar-exit {
	float: right;
	height:22px;
	width: 22px;
	background-image: url(../images/toolbar/tbar-exit.png);
	background-repeat: no-repeat;
}
