
#wspace-toolbar {
/*	height: 28px;*/
	height: 40px;
	width: 100%;
	background-color: #9CAAC1;
}

/*----TOPBAR MAIN STYLINS----------------*/
/*-----------------------*/
/*---TOP BAR-------------*/
/*-----------------------*/

.top-bar {
	position: relative;
	width: 100%;
	height: 40px;
	min-width: 600px;
/*	background: repeat-x url(../images/toolbar/tbar-bg.png);*/
/*	border: 1px solid black;*/
}

.top-bar .menu-bar {
	height: 40px;
	padding-left: 4px;
	padding-right: 4px;
	background-repeat: repeat-x;
}
.menu-bar .body {
	width: 100%;
	height: 40px;
	background-repeat: repeat-x;
}
.menu-bar.grey .body {
	background-image: url(../images/topbar/bg-grey-slice.png);
}

.menu-bar .main-menu-items {
	float: left;
/*
	border-left: 1px solid red;
	border-right: 1px solid red;
*/
	height: inherit;
	width: 330px;
}

.menu-bar .item {
	float: left;
	padding-top: 9px;
	margin-left: 15px;
	font-size: 16px;
}

.menu-bar .sub-item {
	float: left;
	padding-top: 11px;
	margin-left: 15px;
	font-size: 14px;
}

.menu-bar .divider {
	height: 40px;
/*	width: 6px;*/
	width: 26px;
/*	background-image: url(../images/topbar/menu-divider.png);*/
	background-image: url(../images/topbar/menu-divider-angled.png);
	background-repeat: no-repeat;
/*	margin: 0 15px;*/
	float: left;
}


.menu-bar .left-cap {
	height: 40px;
	width: 4px;
	margin-left: -4px;
	background-position: 0px 0px;
	background-repeat: no-repeat;
}
.menu-bar.grey .left-cap {
	background-image: url(../images/topbar/bg-grey-end-caps.png);
}
.menu-bar .right-cap {
	height: 40px;
	width: 4px;
	margin-right: -4px;
	background-position: -4px 0px;
	background-repeat: no-repeat;
}
.menu-bar.grey .right-cap {
	background-image: url(../images/topbar/bg-grey-end-caps.png);
}


.menu-bar .item a:hover, a:link, a:active, a:visited {
	color: #30322f;
}
.menu-bar .item a:hover {
	color: #3e5865;
}

.menu-bar .item a {
	text-decoration: none;
}

.menu-bar .sub-item a {
	text-decoration: none;
}

.logo {
	height: 30px;
/*	width: 106px;*/
	width: 26px;
	float: left;
	margin: 5px 0 0 0px;
}

.logo.black {
	background-image: url(../images/icon-black.png);
}

/*------Context Menu Bar-------------------*/

#wspace-context-wrapper {
	width: 300px;
	height: 25px;
	position: absolute;
	z-index: 100;
	top: 40px;
	left: 20px;
}
#wspace-context-wrapper .l-endcap {
	height: 25px;
	width: 5px;
	background: no-repeat url(../images/topbar/context-bar-end-caps.png);
	background-position: -5px 0px;
	position: relative;
	float: left;
}
#wspace-context-wrapper .r-endcap {
	height: 25px;
	width: 5px;
	background: no-repeat url(../images/topbar/context-bar-end-caps.png);
	position: relative;
	float: left;
}
#wspace-context {
	height: 25px;
	width: 290px;
	background-image: url(../images/topbar/context-bar-bg-slice.png);
	background-repeat: repeat-x;
	position: relative;
	float: left;
}
#wspace-context-wrapper .context-span {
	position: relative;
	float: left;
	font-size: 14px;
	margin: 3px 0 0 10px;
	color: #FFFFFF;
}
/*----TOOLBAR/TOOLBAR GROUPS----------------*/

.toolbar-group {
	height: 26px;
	width: 200px;
	position: relative;
	float: left;
	padding: 1px 0;
/*	margin-left: 200px;*/
	margin-top: 5px;
	margin-right: 25px;
}
.toolbar-group .lft-endcap {
	position: relative;
	float: left;
	height: 26px;
	width: 9px;
/*
	background-image: url(../images/topbar/top-toolbar-sprite.png);
	background-repeat: no-repeat;
*/
}
.toolbar-group .rt-endcap {
	position: relative;
	float: right;
	height: 26px;
	width: 12px;
/*
	background-image: url(../images/topbar/top-toolbar-sprite.png);
	background-repeat: no-repeat;
	background-position: -10px 0px;
*/
}

.toolbar-group .tool-list {
	position: relative;
	float: left;
	height: 24px;
	width: 179px;
/*
	background-color: #BCC7D8;
	border-top: 1px solid #D5DCE8;
	border-bottom: 1px solid #D5DCE8;
*/
}
.toolbar-group .tool-item {
	height: 22px;
	width: 22px;
	padding: 1px 5px 1px 5px;
	position: relative;
	float: left;
}
.toolbar-group .tool-item.first {
	padding-left: 0px;
}

.tool-item .btn-bg {
	height: 22px;
	width: 22px;
}
.tool-item.active .btn-bg {
	background-image: url(../images/topbar/tool-btn-bg.png);
}
.tool-item.active.mdown .btn-bg {
	background-position: -22px 0px;
}

.toolbar .tool-btn {
	height: 22px;
	width: 22px;
}
.tool-item.active .tool-btn {
	background-position: -22px 0px;
}

/*----TODO: push this into js to be set at runtime-------*/

.tool-item .tool-btn.add-users {
	background-image: url(../images/topbar/add-users-btn-sprite.png);
}
.tool-item .tool-btn.add-environments {
	background-image: url(../images/topbar/datacenters-btn-sprite.png);
}
.tool-item .tool-btn.commit {
	background-image: url(../images/topbar/commit-btn-sprite.png);
}
.tool-item .tool-btn.commit-test {
	background-image: url(../images/topbar/commit-test-btn-sprite.png);
}
.tool-item .tool-btn.create-assembly {
	background-image: url(../images/topbar/create-assembly-btn-sprite.png);
}

/*-------------------*/

.toolbar .dropdown {
	padding: 7px 5px 0 5px;
	height: inherit;
/*	width: 70px;*/
	float: left;
	cursor: pointer;
}
.toolbar .dropdown.active {
/*	background-color: #EDEDED;*/
	background-image: url(../images/topbar/bg-grey-slice-inverted.png);
	background-repeat: repeat-x;
	border-left: 3px solid #9CAAC1;
	border-right: 3px solid #9CAAC1;
	margin-left: -3px;
}
.toolbar .dropdown.active.mover {
	background-color: #CCCCCC;
}

.toolbar .dropdown .arrow {
	position: relative;
	float: left;
	height: 4px;
	width: 7px;
	margin: 12px 0 0 5px;
	background-image: url(../images/topbar/dropdown-arrow.png);
}

.dropdown-modal {
/*	height: 250px;*/
	width: 200px;
	position: absolute;
	z-index: 100;
	display: none;
/*	background-color: #EDEDED;*/
	background-color: #FFFFFF;
	border-left: 3px solid #9CAAC1;
	border-right: 3px solid #9CAAC1;
	border-bottom: 3px solid #9CAAC1;
}

.toolbar .dropdown-list {
	margin: 0;
	padding: 0;
	width: 100%;
/*	height: 70px;*/
}
.dropdown-list .dropdown-item {
	list-style-type: none;
	height: 25px;
	padding: 5px 0;
	cursor: pointer;

}

.dropdown-list .dropdown-item .label {
	position: relative;
	height: 23px;
	width: 150px;
	float: left;
	font-size: 12px;
/*	border-top: 1px solid #EDEDED;
	border-bottom: 1px solid #EDEDED;*/
	border-top: 1px solid #FFFFFF;
	border-bottom: 1px solid #FFFFFF;
}
.dropdown-list .dropdown-item.visible .label {
	border-top: 1px solid #A5A5A5;
	border-bottom: 1px solid #A5A5A5;
	background-color: #CCCCCC;
}

.dropdown-list .check-wrapper {
	position: relative;
	float: left;
	height: 23px;
	width: 25px;
	border-top: 1px solid #EDEDED;
	border-bottom: 1px solid #EDEDED;
}
.dropdown-item.visible .check-wrapper {
	border-top: 1px solid #A5A5A5;
	border-bottom: 1px solid #A5A5A5;
	background-color: #CCCCCC;
}

.dropdown-list .dropdown-check {
	height: 16px;
	width: 16px;
	margin: 5px 0 0 5px;
	position: relative;
	float: left;
}
.dropdown-item.visible .dropdown-check {
	background-image: url(../images/topbar/check-green.png);
}

.dropdown-item .lft-endcap {
	height: 25px;
	width: 5px;
	float: left;
	position: relative;
	margin-left: 5px;
}
.dropdown-item.visible .lft-endcap {
/*	background-color:#CCCCCC;*/
	background-image: url(../images/topbar/dropdown-item-endcaps.png);
	background-repeat: no-repeat;
}

.dropdown-item .rt-endcap {
	height: 25px;
	width: 5px;
	float: left;
	position: relative;
	margin-right: 5px;
}

.dropdown-item.visible .rt-endcap {
	background-image: url(../images/topbar/dropdown-item-endcaps.png);
	background-position: -5px 0px;
}
.dropdown-check-bg {
	height: 25px;
	width: 25px;
	margin-left: 5px;
	float: left;
	position: absolute;
	z-index: 1;
	background-image: url(../images/dock/panel-btn-bg-sprite.png);
}
