#topbar {
	position: relative;
	width: 100%;
	height: 53px;
	min-width: 500px;
/*	background: repeat-x url(../images/toolbar/tbar-bg.png);*/
/*	border: 1px solid black;*/
}

#wspace-toolbar {
	height: 28px;
	width: 100%;
	background-color: #9CAAC1;
}

#wspace-context-wrapper {
/*	height: 25px;*/
	width: 100%;
	background-color: #AEB9CD;
}

/*----TOOLBAR/TOOLBAR GROUPS----------------*/

.toolbar-group {
	height: 26px;
	width: 200px;
	position: relative;
	float: left;
	padding: 1px 0;
	margin-left: 200px;
}
.toolbar-group .lft-endcap {
	position: relative;
	float: left;
	height: 26px;
	width: 9px;
	background-image: url(../images/topbar/top-toolbar-sprite.png);
	background-repeat: no-repeat;
}
.toolbar-group .rt-endcap {
	position: relative;
	float: right;
	height: 26px;
	width: 12px;
	background-image: url(../images/topbar/top-toolbar-sprite.png);
	background-repeat: no-repeat;
	background-position: -10px 0px;
}

.toolbar-group .tool-list {
	position: relative;
	float: left;
	height: 24px;
	width: 179px;
	background-color: #BCC7D8;
	border-top: 1px solid #D5DCE8;
	border-bottom: 1px solid #D5DCE8;
}
.toolbar-group .tool-item {
	height: 22px;
	width: 22px;
	padding: 1px 5px 1px 5px;
	position: relative;
	float: left;
}
.toolbar-group .tool-item.first {
	padding-left: 0px;
}

.tool-item .btn-bg {
	height: 22px;
	width: 22px;
}
.tool-item.active .btn-bg {
	background-image: url(../images/topbar/tool-btn-bg.png);
}
.tool-item.active.mdown .btn-bg {
	background-position: -22px 0px;
}

.toolbar .tool-btn {
	height: 22px;
	width: 22px;
}
.tool-item.active .tool-btn {
	background-position: -22px 0px;
}

/*----TODO: push this into js to be set at runtime-------*/

.tool-item .tool-btn.add-users {
	background-image: url(../images/topbar/add-users-btn-sprite.png);
}
.tool-item .tool-btn.datacenters {
	background-image: url(../images/topbar/datacenters-btn-sprite.png);
}
.tool-item .tool-btn.commit {
	background-image: url(../images/topbar/commit-btn-sprite.png);
}
.tool-item .tool-btn.commit-test {
	background-image: url(../images/topbar/commit-test-btn-sprite.png);
}
.tool-item .tool-btn.create-assembly {
	background-image: url(../images/topbar/create-assembly-btn-sprite.png);
}

/*-------------------*/

.toolbar .dropdown {
	margin-left: 15px;
	padding: 0 5px;
	height: 25px;
/*	width: 70px;*/
	float: left;
	border-top: 3px solid #9CAAC1;
	cursor: pointer;
}
.toolbar .dropdown.open {
	background-color: #EDEDED;
}
.toolbar .dropdown.open.mover {
	background-color: #CCCCCC;
}

.toolbar .dropdown .arrow {
	position: relative;
	float: left;
	height: 4px;
	width: 7px;
	margin: 12px 0 0 5px;
	background-image: url(../images/topbar/dropdown-arrow.png);
}

.dropdown-modal {
/*	height: 250px;*/
	width: 200px;
	position: absolute;
	z-index: 100;
	display: none;
	background-color: #EDEDED;
	border-left: 3px solid #9CAAC1;
	border-right: 3px solid #9CAAC1;
	border-bottom: 3px solid #9CAAC1;
}

.toolbar .dropdown-list {
	margin: 0;
	padding: 0;
	width: 100%;
/*	height: 70px;*/
}
.dropdown-list .dropdown-item {
	list-style-type: none;
	height: 25px;
	padding: 5px 0;
	cursor: pointer;

}

.dropdown-list .dropdown-item .label {
	position: relative;
	height: 23px;
	width: 150px;
	float: left;
	font-size: 12px;
	border-top: 1px solid #EDEDED;
	border-bottom: 1px solid #EDEDED;
}
.dropdown-list .dropdown-item.visible .label {
	border-top: 1px solid #A5A5A5;
	border-bottom: 1px solid #A5A5A5;
	background-color: #CCCCCC;
}

.dropdown-list .check-wrapper {
	position: relative;
	float: left;
	height: 23px;
	width: 25px;
	border-top: 1px solid #EDEDED;
	border-bottom: 1px solid #EDEDED;
}
.dropdown-item.visible .check-wrapper {
	border-top: 1px solid #A5A5A5;
	border-bottom: 1px solid #A5A5A5;
	background-color: #CCCCCC;
}

.dropdown-list .dropdown-check {
	height: 16px;
	width: 16px;
	margin: 5px 0 0 5px;
	position: relative;
	float: left;
}
.dropdown-item.visible .dropdown-check {
	background-image: url(../images/topbar/check-green.png);
}

.dropdown-item .lft-endcap {
	height: 25px;
	width: 5px;
	float: left;
	position: relative;
	margin-left: 5px;
}
.dropdown-item.visible .lft-endcap {
/*	background-color:#CCCCCC;*/
	background-image: url(../images/topbar/dropdown-item-endcaps.png);
	background-repeat: no-repeat;
}

.dropdown-item .rt-endcap {
	height: 25px;
	width: 5px;
	float: left;
	position: relative;
	margin-right: 5px;
}

.dropdown-item.visible .rt-endcap {
	background-image: url(../images/topbar/dropdown-item-endcaps.png);
	background-position: -5px 0px;
}
.dropdown-check-bg {
	height: 25px;
	width: 25px;
	margin-left: 5px;
	float: left;
	position: absolute;
	z-index: 1;
	background-image: url(../images/dock/panel-btn-bg-sprite.png);
}
