
/*---------------------------------*/
/*---Panel Stylings------------*/
/*---------------------------------*/
.panel-wrapper {
	position: relative;
	float: left;
}

.panel {
	height: 100%;
	width: 100%;
	position: relative;
/*	background-color: #FFFFFF;*/
	float: left;
}

.panel-header {
	width: 100%;
/*	width: 99%;*/
	padding-left: -1px;
	padding-right: -1px;
	height: 35px;
	margin-bottom: 2px;
	box-shadow: inset 0 0 10px #bec0c7;
	-moz-box-shadow: inset 0 0 10px #bec0c7;
	-webkit-box-shadow: inset 0 0 10px #bec0c7;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	background-color: #d8dbe3;
	border-top: 1px solid #a4a7ad;
	border-left: 1px solid #a4a7ad;
	border-right: 1px solid #a4a7ad;
}
.panel-header .header-text {
	position: relative;
	float: left;
	margin: 5px 0 0 10px;
	text-decoration: none;
	font-family: "Trebuchet MS",Helvetica,Jamrul,sans-serif;
	font-size: 10pt;
	font-weight: bold;
	color: #333;
	text-shadow: 0px 1px 1px #fff;
	filter: dropshadow(color=#fff, offx=0, offy=1);
}

.panel-body {
	width: 100%;
	height: 100%;
	position: relative;
	background-color: #FFFFFF;
	float: left;
	overflow: auto;

	box-shadow: inset 0 0 10px #bec0c7;
	-moz-box-shadow: inset 0 0 10px #bec0c7;
	-webkit-box-shadow: inset 0 0 10px #bec0c7;
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
}
