.wspace-modal {
	height: 350px;
	width: 700px;
	background-color: #CCCCCC;
	position: absolute;
	z-index: 110;
	display: none;
}
.wspace-modal .content {
	height: 340px;
	width: 690px;
	margin: 5px;
	background-color: #EDEDED;
}

.wspace-shim {
	background-color: #222222;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 100;
}


.edit-form {
	position: relative;
	float: left;
	width: 300px;
	margin: 10px;
}

table.edit {
	border: 0;
}
td.label {
	font-size: 14px;
	font-weight: bold;
	width: 35%;
}
td.field input {
	border: 0 none;
	height:2.2em;
/*	line-height:1.1em;*/
	margin:0 0 -0.8em;
	padding:0.2em 0.64em 0 0.44em;
	width:20em;
	font-size: 14px;
	float:left;
}

/*---------------------OLDER BELOW------------------*/

#page-container {
	position: absolute;
/*	border: 1px solid red;*/
	min-height:500px;
	min-width: 500px;
}

#wspace-container {
	position: relative;
	width: 100%;
	height: 450px;
	overflow: hidden;
}

.tbar_search {
	background:#FFFFFF none repeat scroll 0 0;
	border:1px solid #ACBABD;
	font-size:115.9%;
	float:right;
	margin: 4px 25px 0 0;
	padding:0.2em 0.2em 1em;
}

.tbar_search .tbar_search_submit {
	background: repeat url(../images/workspace/search_icon-1.png);
	cursor: pointer;
	height: 24px;
	width: 24px;
	overflow: hidden;
}

.tbar_search input {
	border: 0 none;
	height:1.4em;
	line-height:1.2em;
	margin:0 0 -0.8em;
	padding:0.2em 0.64em 0 0.44em;
	width:15em;
	font-size: 100%;
	float: left;
}

#wspaceHeader {
	height: 13px;
	width: 100%;
	position: relative;
	z-index: 99;
}

#wsh-l-corner {
	height: 13px;
	width: 13px;
	float: left;
	position: relative;
	background: no-repeat url(../images/workspace/l-xpand-corner.png);
}
#wsh-center {
	width: 1174px;
	height: 13px;
	background: repeat-x url(../images/workspace/xpand-center-bg.png);
	float: left;
	position: relative;
}
#wsh-r-corner {
	height: 13px;
	width: 13px;
	float: left;
	position: relative;
	background: no-repeat url(../images/workspace/r-xpand-corner.png);
}

#page-container {
	width: 100%;
	height: 100%;
	position: absolute;
	display: block;
}

#workspace-wrapper {
	width: 100%;
	height: 100%;
	position: relative;
	background: url(../images/workspace/wspace-bg-3.png);
	display: block;
}

.viewspace {
	width: 1500px;
	height: 1500px;
	top: 0px;
	left: 0px;
	position: relative;
	background: url(../images/workspace/wspace-bg-3.png);
	display: block;
	border: 1px solid green;
}

.selectionBox {
	position: absolute;
/*	border: 2px solid #3399FF;
	background-color: #B7D4F0;*/
	border: 2px dashed #3399FF;
	background-color: #b7fb15;
	opacity: 0.5;
	filter: alpha(opacity=50);
	z-index: 98;
}

.dragWire {
	position: absolute;
	z-index: 100;
/*	border: 1px solid blue;*/
}

.fullBezier-basic {
	position: absolute;
	z-index: 0;
/*	border: 1px solid red;*/
}

.compFocus {
	z-index: 20;
}

.compBlur {
	z-index: 1;
}

.southConnectors {
/*	bottom: 0;*/
/*	float: left; */
	margin: -7px auto 0 auto;
/*	background: url(../images/workspace/availDot.png) no-repeat;*/
/*	border: 1px solid red;*/
}
.northConnectors {
/*	bottom: 0;*/
/*	float: left; */
	margin: 0 auto -7px auto;
	height: 14px;
/*	background: url(../images/workspace/availDot.png) no-repeat;*/
/*	border: 1px solid red;*/
}

.northConnector {
	bottom: 0;
	margin: -7px auto 0 auto;
	height: 14px;
	width: 14px;
	background: url(../images/workspace/availDot.png) no-repeat;
}
.eastConnector {
	right: 0;
	margin: auto -7px auto 0;
	height: 14px;
	width: 14px;
	background: url(../images/workspace/availDot.png) no-repeat;
	float: right;
}

.dragHandle {
	background: url(../images/workspace/availDot.png) no-repeat;
}
