
body {
	height: 100%;
/*	overflow: hidden;*/
	color: #213558;
	background-image: url(../images/v1/wspace-bg.jpg);
	background-repeat: repeat-x;
}

.page-container {
	min-height: 100%;
	position: relative;
/*	background-color: #FFFFFF;*/
/*	background-image: url(../images/blue-bg-test.png);
	background-repeat: repeat;*/
}


.main-body-wrapper {
	height: inherit;
	width: inherit;
	min-height: 300px;
	min-width: 600px;
	position: relative;
}

/*---------------------------------*/
/*---Region Stylings------------*/
/*---------------------------------*/
#l-panel-wrapper {
	min-width: 50px;
	width: 200px;
	height: 570px;
	position: relative;
/*	background-color: #FFFFFF;*/
	float: left;
	margin: 10px 5px 10px 10px;
}

#l-panel {
	position: relative;
	float: left;
	width: 100%;
	height: 100%;
}

#l-panel-header {
	width: 100%;
/*	width: 99%;*/
	padding-left: -1px;
	padding-right: -1px;
	height: 35px;
	margin-bottom: 2px;
	box-shadow: inset 0 0 10px #bec0c7;
	-moz-box-shadow: inset 0 0 10px #bec0c7;
	-webkit-box-shadow: inset 0 0 10px #bec0c7;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	background-color: #d8dbe3;
	border-top: 1px solid #a4a7ad;
	border-left: 1px solid #a4a7ad;
	border-right: 1px solid #a4a7ad;
}
#l-panel-content {
	width: 200px;
	height: 533px;
	position: relative;
	background-color: #FFFFFF;
	float: left;
	overflow: auto;

	box-shadow: inset 0 0 10px #bec0c7;
	-moz-box-shadow: inset 0 0 10px #bec0c7;
	-webkit-box-shadow: inset 0 0 10px #bec0c7;
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
}

#editor-panel-wrapper {
	min-width: 100px;
	position: relative;
	float: left;
	width: 1045px;
	height: 570px;
	margin: 10px 10px 5px 5px;
}

#editor-panel {
	position: relative;
	float: left;
	width: 100%;
	height: 100%;
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
}

#editor-panel .header {
	width: 100%;
	padding-left: -1px;
	padding-right: -1px;
	height: 35px;
	margin-bottom: 2px;
	box-shadow: inset 0 0 10px #bec0c7;
	-moz-box-shadow: inset 0 0 10px #bec0c7;
	-webkit-box-shadow: inset 0 0 10px #bec0c7;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	background-color: #d8dbe3;
	border-top: 1px solid #a4a7ad;
	border-left: 1px solid #a4a7ad;
	border-right: 1px solid #a4a7ad;
}
#editor-panel-content {
	min-width: 100px;
	position: relative;
	background-color: #FFFFFF;
	float: left;
	width: 100%;
	height: 533px;
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;

	overflow: hidden;
/*
	background-image: url(../images/v1/target-editor-bg-01.jpg);
	background-repeat: repeat;
 * 
 */
}

/*
 * PLUGIN BAR RELATED
 */
.plugin-bar {
	height: 48px;
	width: 100%;
	position: absolute;
	z-index: 100;
	bottom: 0px;
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
	background-image: url(../images/v1/plugin-bar-bg.jpg);
	background-repeat: repeat-x;
}
#plugin-input-content {
	position: relative;
	float: left;
	height: 100%;
	width: 250px;
}
.plugin-input-wrapper {
	height: 24px;
	width: 225px;
	background-color: green;
	position: relative;
	float: left;
	margin: 12px 12px 0 12px;
	border: 2px solid #648095;
	background-color: #FFFFFF;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
	-moz-border-radius-bottomleft: 3px;
	-moz-border-radius-bottomright: 3px;
}
.plugin-input-wrapper input {
	border: 0 none;
	height: 24px;
	line-height:1.1em;
	margin:0 0 -0.8em;
	padding:0.2em 0.64em 0 0.44em;
	width:15em;
	font-size: 100%;
	float: left;
}

.plugin-bar .plugin {
	float: left;
	height: 100%;
	cursor: pointer;

	text-decoration: none;
	font-family: "Trebuchet MS",Helvetica,Jamrul,sans-serif;
	font-size: 11pt;
	font-weight: bold;
	color: #333333;
	text-shadow: 0px 1px 1px #FFFFFF;
	filter: dropshadow(color=#FFFFFF, offx=0, offy=1);
}

.plugin-bar .item {
	float: left;
	padding-top: 15px;
	margin-left: 15px;
	margin-right: 15px;
}


.plugin-bar .item-wrapper.active {
	background-image: url(../images/v1/plugin-bar-bg-active.jpg);
	background-repeat: repeat-x;
	color: #FFFFFF;
	text-shadow: 0px 1px 1px #333333;
	filter: dropshadow(color=#333333, offx=0, offy=1);
}
.plugin-bar .divider {
	height: 48px;
	width: 2px;
	background-image: url(../images/v1/plugin-bar-divider.jpg);
	background-repeat: no-repeat;
	float: left;
/*	margin: 0 3px 0 3px;*/
}


.plugin-content-wrapper {
	position: absolute;
	z-index: 100;
	bottom: 48px;
	height: 2px;
	width: 100%;
	background-color: #4e87a7;
	overflow: hidden;
}

#node-list-container {
	width: 100%;
	height: 75px;
/*	background-color: #d8dbe3;*/
	background-image: url(../images/v1/plugin-bar-search-bg.jpg);
	background-repeat: repeat-x;
	margin-top: 3px;
	float: left;
}

#component-list-container {
	width: 100%;
	height: 75px;
/*	background-color: #d8dbe3;*/
	background-image: url(../images/v1/plugin-bar-search-bg.jpg);
	background-repeat: repeat-x;
	margin-top: 3px;
	float: left;
}

#assembly-list-container {
	width: 100%;
	height: 75px;
	background-image: url(../images/v1/plugin-bar-search-bg.jpg);
	background-repeat: repeat-x;
	margin-top: 3px;
	float: left;
}
#task-container {
	width: 100%;
	height: 197px;
	background-color: #FFFFFF;
	margin-top: 3px;
	float: left;
}

#list-l-arrow-wrapper {
	height: 75px;
	width: 40px;
/*	background-color: green;*/
	float: left;
}

#list-l-arrow {
	background: url(../images/v1/plugin-search-arrows.png) no-repeat;
	width: 18px;
	height: 63px;
	margin: 6px 11px 0 11px;
}

#list-r-arrow-wrapper {
	height: 75px;
	width: 40px;
/*	background-color: green;*/
	float: right;
}

#list-r-arrow {
	background: url(../images/v1/plugin-search-arrows.png) no-repeat -18px 0px;
	width: 18px;
	height: 63px;
	margin: 6px 11px 0 11px;
}

#list-body-wrapper {
	height: 75px;
	width: 965px;
	float: left;
	overflow: hidden;
/*	background-color: yellow;*/
}

#list-body {
	height: 75px;
/*	width: 965px;*/
	width: 100%;
	float: left;
}

.component-result, .node-result, .assembly-result {
	height: 64px;
	width: 128px;
	background-color: #FFFFFF;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
	-moz-border-radius-bottomleft: 3px;
	-moz-border-radius-bottomright: 3px;
	margin: 5px 10px 0 10px;
	float: left;
}
.component-result.selected, .node-result.selected, .assembly-result.selected {
	background-color: #385e7e;
}

.component-result .body, .node-result .body, .assembly-result .body {
	height: 56px;
	width: 120px;
	margin: 4px;
	background-color: #FFFFFF;
}

.component-result .main-content, .node-result .main-content, .assembly-result .main-content {
	height: 56px;
	width: 104px;
	float: left;
}
.component-result .main-content .component-icon, .node-result .main-content .node-icon, .assembly-result .main-content .assembly-icon {
	height: 36px;
	width: 100px;
	margin: 0 2px;
	float: left;
}
.component-result .main-content .component-icon img, .node-result .main-content .node-icon img, .assembly-result .main-content .assembly-icon img {
	height: 36px;
	width: 100px;
	margin: 0 2px;
	float: left;
	border: 0;
}

.component-result .main-content .php-icon{
	height: 36px;
	width: 100px;
	margin: 0 2px;
	float: left;
	background: no-repeat url(../images/v1/componentIcons/php.png);
}
.component-result .main-content .rabbitmq-icon{
	height: 36px;
	width: 100px;
	margin: 0 2px;
	float: left;
	background: no-repeat url(../images/v1/componentIcons/rabbitmq.png);
}
.component-result .main-content .icon-divider, .node-result .main-content .icon-divider, .assembly-result .main-content .icon-divider {
	height: 1px;
	width: 80px;
	margin: 0 12px;
	background-color: #8ca3b5;
	float: left;
}
.component-result .main-content .name-wrapper, .node-result .main-content .name-wrapper, .assembly-result .main-content .name-wrapper {
	height: 16px;
	float: left;
	font-family: "Trebuchet MS",Helvetica,Jamrul,sans-serif;
	font-size: 8pt;
	color: #000000;
	margin: 1px 0 0 0;
	width: 100%;
	text-align: center;
	overflow: hidden;
	white-space: nowrap;
}

.component-result .right-bar, .node-result .right-bar, .assembly-result .right-bar {
	height: 56px;
	width: 16px;
	float: left;
}

.component-result .right-bar .plus, .node-result .right-bar .plus, .assembly-result .right-bar .plus {
	height: 12px;
	width: 16px;
	background: no-repeat url(../images/v1/plugin-bar-search-result-plus.jpg);
	float: left;
}

.component-result .right-bar .implementations, .node-result .right-bar .implementations, .assembly-result .right-bar .implementations {
	height: 44px;
	width: 15px;
	float: left;
	border-left: 1px solid #b6ccdf;
}

.right-bar .implementations .chef {
	height: 16px;
	width: 15px;
	background: no-repeat url(../images/v1/chef-implementation-icon.png);
	float: left;
	margin: 5px 0 3px;
}

.right-bar .implementations .puppet {
	height: 16px;
	width: 15px;
/*	background: no-repeat url(../js/external/jstree/themes/d.png) -36px -144px;*/
	background: no-repeat url(../images/v1/d.png) -36px -126px;
	margin: 0 0 0 1px;
	float: left;
}

.component-result.null .implementations .chef {
	display: none;
}
.component-result.puppet .implementations .chef {
	display: none;
}

.component-result.chef .implementations .puppet {
	display: none;
}
/*
 * END PLUGIN BAR RELATED
 */


/*
 * TARGET NODE RELATED
 */
.node {
	height: 94px;
	width: 164px;
/*	border: 2px solid #8d8d8d;*/
	position: absolute;
	z-index: 10;

/*	background: repeat-x url(../images/v1/node-bg-grey.jpg);*/
	background: no-repeat url(../images/v1/node-bg-sprite.png);
/*
	-moz-border-radius-topleft: 8px;
	-moz-border-radius-topright: 8px;
	-moz-border-radius-bottomleft: 8px;
	-moz-border-radius-bottomright: 8px;

	-moz-box-shadow: 2px 2px 8px #000000;
*/
	cursor: move;
}
.node.focus {
	background-position: -164px 0px;
}

.node-body {
	height: 60px;
	width: 140px;
	margin: 0 15px;
/*	border: 1px solid #6a6a6a;*/
	float: left;
/*	background-color: #FFFFFF;*/
/*
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
*/
}

.node-header {
	height: 15px;
	width: 100%;
	float: left;
}

.node-status {
	height: 6px;
	width: 16px;
	border: 1px solid #6a6a6a;
	float: right;
	margin: 3px 5px;
}

.node.running .node-status {
	background: no-repeat url(../images/v1/node-active-status-bg.jpg);
}
.node.terminated .node-status {
	background: red;
}
.node.staged .node-status,.node.stopped .node-status {
	background-color: #CCCCCC;
}
.node.starting .node-status,.node.stopping .node-status {
	background-color: yellow;
}




.node .action-btn {
	height: 13px;
	width: 13px;
	float: right;

/*	-moz-border-radius-topright: 8px;*/
}

.node .action-btn-arrow {
	height: 6px;
	width: 6px;
/*	background: no-repeat url(../images/v1/node-action-arrows.png);*/
	margin: 4px 3px 0 4px;
}

.node.hover .action-btn {
/*
	border-left: 1px solid #7e96ab;
	border-bottom: 1px solid #7e96ab;
	background-color: #c0d1e1;
*/
}

.node.hover .action-btn-arrow {
/*	background-position: -6px 0;*/
}

.node.focus .node-body {
/*	background-color: #c0d1e1;*/
}
.node.focus .action-btn {
/*
	border-left: 1px solid #7e96ab;
	border-bottom: 1px solid #7e96ab;
	background-color: #c0d1e1;
*/
}

.node .name-wrapper {
	height: 26px;
	width: 100%;
	float: left;
}
.node .name {
	margin: 3px auto;
	width: 100%;
	font-family: "Trebuchet MS",Helvetica,Jamrul,sans-serif;
	font-size: 9pt;
	color: #000000;
	text-align: center;
	margin: 6px 0 0 0;
	overflow: hidden;
	white-space: nowrap;
}

.node .contents-list-wrapper {
	height: 30px;
	width: 130px;
	margin: 0 4px;
	float: left;
/*	background: repeat-x url(../images/v1/node-contents-bg.jpg);
	border: 1px solid #6a6a6a;

	-moz-border-radius-bottomright: 3px;
	-moz-border-radius-bottomleft: 3px;
*/
}

.node .port {
	height: 18px;
	width: 18px;
	background: no-repeat url(../images/v1/port-sprite-01.png);
	position: absolute;
	z-index: 10;
}
.node .port.north,.node .port.input-north,.node .port.output-north {
	background-position: 0px 0px;
}
.node .port.south,.node .port.input-south,.node .port.output-south {
	background-position: -54px 0px;
}
.node .port.west,.node .port.input-west,.node .port.output-west {
	background-position: -18px 0px;
}
.node .port.east,.node .port.input-east,.node .port.output-east {
	background-position: -36px 0px;
}

/*
 * END TARGET NODE RELATED
 */

.v-region-resizer {
	height: 100%;
	width: 4px;
/*	background-color: #CCCCCC;*/
	position: relative;
	float: left;
	cursor: w-resize;
}

.v-region-resizer .lines {
	height: 300px;
	width: 4px;
	background: bottom url(../images/v1/panel-v-divider.png) no-repeat;
	position: relative;
	float: left;
}

.h-region-resizer {
	height: 3px;
	width: 100%;
	background-color: #CCCCCC;
	position: relative;
	float: left;
	cursor: n-resize;
}

.editor-panel {
	height: 300px;
	width: inherit;
	background-color: #FFFFFF;
	position: relative;
	float: left;
}
.console-panel {
	height: 100px;
	width: inherit;

}
/*------Panel--------------------------*/

.panel {
	position: relative;
	float: left;
}
.panel.foobut {
	background-color: red;
}
.panel.tempclass {
	background-color: #FFFFFF;
	overflow: auto;
}


.panel .content-wrapper {
	overflow: hidden;
	border: 3px solid #FFFFFF;
/*	border: 3px solid #99B4D1;*/
}
.panel .content-wrapper.focus {
	border: 3px solid #99B4D1;
}

.panel .content {
	overflow: auto;
}



.panel .workspace-content {
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
	background-color: #FFFFFF;
	width: 100%;
	height: 100%;
}

.workspace-content .header {
	width: 100%;
	height: 32px;
	text-decoration: none;
	font-family: "Trebuchet MS",Helvetica,Jamrul,sans-serif;
	font-size: 14pt;
	color: #333;
	text-shadow: 0px 1px 1px #fff;
	filter: dropshadow(color=#fff, offx=0, offy=1);
}



.panel .panel-header {
	position: relative;
	width: 100%;
	height: 25px;
	min-width: 150px;
	background-color: #E4E4E4;
}

.panel .header .tab-list {
	position: relative;
	float: left;
	width: 100%;
	height: 35px;
	min-width: 150px;
	
	overflow: hidden;
	margin-left: 10px;
}
.panel .header .tab-list li {
	cursor: pointer;
	list-style: none outside;
	height: 30px;
/*	padding: 5px 5px 0 5px;*/
	padding: 0 0 0 5px;
	margin-top: 4px;
	position: relative;
	float: left;
	background-image: url(../images/v1/editor-tab-bg.jpg);
	background-repeat: repeat-x;

	font-family: "Trebuchet MS",Helvetica,Jamrul,sans-serif;
	font-size: 10pt;
	color: #333333;
	text-shadow: 0px 1px 1px #FFFFFF;
	filter: dropshadow(color=#FFFFFF, offx=0, offy=1);

	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
}
.panel .header .tab-list li.active {
	border-top: 2px solid #31658c;
	border-left: 2px solid #31658c;
	border-right: 2px solid #31658c;
}

.panel-tab-body .close-view {
	height: 16px;
	width: 16px;
/*	margin-left: 5px;*/
	float: right;
}
.panel-tab-body.show-close .close-view {
	background-image: url(../images/editor/close-file-icon.png);
}

.panel .view-header {
	position: relative;
	width: 100%;
	height: 24px;
	border-top: 1px solid #CCCCCC;
	min-width: 150px;
	overflow-x: hidden;
	background-color: #E4E4E4;
}

.project-view-content {
/*	margin: 5px;*/
	width: 100%;
	height: 100%;
/*	overflow: auto;*/
}

.project-item {
	height: 25px;
	margin: 5px;
	cursor: pointer;
}
.project-icon {
	height: 20px;
	width: 20px;
	margin: 1px 0 0 3px;
	background-repeat: no-repeat;
	float: left;
}
.project-item	.project-icon {
	background-image: url(../images/ide/project-folder.png);
}
.project-item.open	.project-icon {
	background-image: url(../images/ide/project-folder-open.png);
}

.project-label {
	float: left;
	font-size: 13px;
}

.editor-empty-bg {
	background-image: url(../images/v1/reactor8-logo-trans.png);
	height: 55px;
	width: 350px;
	margin: 100px auto 0 auto;
}

.tab-list .view-tab {
	height: 25px;
	border-left: 1px solid #333333;
	border-right: 1px solid #333333;
	float: left;
	padding: 2px 5px 0 5px;
	cursor: pointer;
}
.tab-list .view-tab.active {
	background-color: #99B4D1;
}
.tab-list .view-tab.focus {
	background-image: url(../images/editor/file-tab-focus-bg.png);
	background-repeat: repeat-x;
}

.view-tab .close-view {
	height: 16px;
	width: 16px;
	margin-left: 5px;
	float: right;
}
.view-tab.show-close .close-view {
	background-image: url(../images/editor/close-file-icon.png);
}

/*------------Form related-----------------*/


.edit-form {
	position: relative;
	float: left;
	width: 300px;
	margin: 10px;
}

table.edit {
	border: 0;
}
td.label {
	font-size: 15px;
/*	width: 35%;*/
	padding: 3px;
}
td.field {
	padding: 3px 3px 7px 3px;
}
td.field input[type=text] {
	border: 1px solid #CCCCCC;
	height:1.6em;
/*	line-height:1.1em;*/
/*	margin:0 0 -0.8em;*/
/*	padding:0.2em 0.64em 0 0.44em;*/
	width:20em;
	font-size: 14px;
	float:left;
}
td.field input[type=text]:focus {
	border: 2px solid #AEB9CD;
}

.group-header {
	font-size: 16px;
	font-weight: bold;
	position: relative;
	float: left;
	height: 20px;
}
.add-btn {
	background-image: url(../images/plus-button2.png);
	height: 16px;
	width: 16px;
	margin-left: 10px;
	cursor: pointer;
	position: relative;
	float: left;
}
