
.wspace-shim {
	background-color: #222222;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 100;
}
.wspace-modal {
	height: 350px;
	width: 700px;
	background-color: #CCCCCC;
	position: absolute;
	z-index: 110;
/*	display: none;*/
}
.wspace-modal .content {
	height: 340px;
	width: 690px;
/*	height: 330px;
	width: 680px;
*/	margin: 5px;
	background-color: #EDEDED;
	padding: 0;
}
/*------------------------------*/

.wspace-modal .header {
	width: 680px;
	height: 20px;
	margin: 5px;
	position: relative;
	float: left;
}
.wspace-modal .title {
	font-size: 18px;
	font-weight: bold;
}

.wspace-modal .body {
	height: 310px;
	width: 690px;
	position: relative;
	float: left;
}

.wspace-modal .body .tab-wrapper {
	height: 30px;
	width: 670px;
	margin: 0 10px;
	position: relative;
	float: left;
	border-bottom: 1px solid #999999;
}

.wspace-modal .tab-list {
	list-style: none outside;
	height: 30px;
	padding: 0;
	position: relative;
	float: left;
	margin-left: 40px;
	margin-top: 1px;
}
.wspace-modal .tab-list .tab {
	list-style:none;
	position: relative;
	float: left;
	height: 23px;
	padding: 5px 5px 0 5px;
	margin-right: 10px;
	cursor: pointer;
	border-left: 1px solid #999999;
	border-right: 1px solid #999999;
	border-top: 1px solid #999999;
	font-weight: bold;
	background-color: #CCCCCC;
}
.wspace-modal .tab-list .tab.selected {
	border-bottom: 1px solid #EDEDED;
	background-color: #EDEDED;
}

.wspace-modal .content-wrapper {
	height: 275px;
	width: 670px;
	margin: 0 10px 5px 10px;
	position: relative;
	float: left;
	overflow-y: auto;
	overflow-x: hidden;

	border: 0px;
}

.wspace-modal .tab-content {
	margin-top: 10px;
}
/*------------Form related-----------------*/


.edit-form {
	position: relative;
	float: left;
	width: 300px;
	margin: 10px;
}

table.edit {
	border: 0;
}
td.label {
	font-size: 15px;
/*	width: 35%;*/
	padding: 3px;
}
td.field {
	padding: 3px 3px 7px 3px;
}
td.field input[type=text] {
	border: 1px solid #CCCCCC;
	height:1.6em;
/*	line-height:1.1em;*/
/*	margin:0 0 -0.8em;*/
/*	padding:0.2em 0.64em 0 0.44em;*/
	width:20em;
	font-size: 14px;
	float:left;
}
td.field input[type=text]:focus {
	border: 2px solid #AEB9CD;
}

